In [107]:
import numpy as np
import pandas as pd

In [108]:
movies=pd.read_csv('tmdb_5000_movies.csv')

In [109]:
movies

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [110]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [111]:
credits = pd.read_csv('tmdb_5000_credits (1).csv')

In [112]:
credits

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [113]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [114]:
credits.head(1)['crew'].values

array(['[{"credit_id": "52fe48009251416c750aca23", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "539c47ecc3a36810e3001f87", "department": "Art", "gender": 2, "id": 496, "job": "Production Design", "name": "Rick Carter"}, {"credit_id": "54491c89c3a3680fb4001cf7", "department": "Sound", "gender": 0, "id": 900, "job": "Sound Designer", "name": "Christopher Boyes"}, {"credit_id": "54491cb70e0a267480001bd0", "department": "Sound", "gender": 0, "id": 900, "job": "Supervising Sound Editor", "name": "Christopher Boyes"}, {"credit_id": "539c4a4cc3a36810c9002101", "department": "Production", "gender": 1, "id": 1262, "job": "Casting", "name": "Mali Finn"}, {"credit_id": "5544ee3b925141499f0008fc", "department": "Sound", "gender": 2, "id": 1729, "job": "Original Music Composer", "name": "James Horner"}, {"credit_id": "52fe48009251416c750ac9c3", "department": "Directing", "gender": 2, "id": 2710, "job": "Director", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750ac9d9", "department": "Writing", "gender": 2, "id": 2710, "job": "Writer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca17", "department": "Editing", "gender": 2, "id": 2710, "job": "Editor", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca29", "department": "Production", "gender": 2, "id": 2710, "job": "Producer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca3f", "department": "Writing", "gender": 2, "id": 2710, "job": "Screenplay", "name": "James Cameron"}, {"credit_id": "539c4987c3a36810ba0021a4", "department": "Art", "gender": 2, "id": 7236, "job": "Art Direction", "name": "Andrew Menzies"}, {"credit_id": "549598c3c3a3686ae9004383", "department": "Visual Effects", "gender": 0, "id": 6690, "job": "Visual Effects Producer", "name": "Jill Brooks"}, {"credit_id": "52fe48009251416c750aca4b", "department": "Production", "gender": 1, "id": 6347, "job": "Casting", "name": "Margery Simkin"}, {"credit_id": "570b6f419251417da70032fe", "department": "Art", "gender": 2, "id": 6878, "job": "Supervising Art Director", "name": "Kevin Ishioka"}, {"credit_id": "5495a0fac3a3686ae9004468", "department": "Sound", "gender": 0, "id": 6883, "job": "Music Editor", "name": "Dick Bernstein"}, {"credit_id": "54959706c3a3686af3003e81", "department": "Sound", "gender": 0, "id": 8159, "job": "Sound Effects Editor", "name": "Shannon Mills"}, {"credit_id": "54491d58c3a3680fb1001ccb", "department": "Sound", "gender": 0, "id": 8160, "job": "Foley", "name": "Dennie Thorpe"}, {"credit_id": "54491d6cc3a3680fa5001b2c", "department": "Sound", "gender": 0, "id": 8163, "job": "Foley", "name": "Jana Vance"}, {"credit_id": "52fe48009251416c750aca57", "department": "Costume & Make-Up", "gender": 1, "id": 8527, "job": "Costume Design", "name": "Deborah Lynn Scott"}, {"credit_id": "52fe48009251416c750aca2f", "department": "Production", "gender": 2, "id": 8529, "job": "Producer", "name": "Jon Landau"}, {"credit_id": "539c4937c3a36810ba002194", "department": "Art", "gender": 0, "id": 9618, "job": "Art Direction", "name": "Sean Haworth"}, {"credit_id": "539c49b6c3a36810c10020e6", "department": "Art", "gender": 1, "id": 12653, "job": "Set Decoration", "name": "Kim Sinclair"}, {"credit_id": "570b6f2f9251413a0e00020d", "department": "Art", "gender": 1, "id": 12653, "job": "Supervising Art Director", "name": "Kim Sinclair"}, {"credit_id": "54491a6c0e0a26748c001b19", "department": "Art", "gender": 2, "id": 14350, "job": "Set Designer", "name": "Richard F. Mays"}, {"credit_id": "56928cf4c3a3684cff0025c4", "department": "Production", "gender": 1, "id": 20294, "job": "Executive Producer", "name": "Laeta Kalogridis"}, {"credit_id": "52fe48009251416c750aca51", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "52fe48009251416c750aca11", "department": "Camera", "gender": 2, "id": 18265, "job": "Director of Photography", "name": "Mauro Fiore"}, {"credit_id": "5449194d0e0a26748f001b39", "department": "Art", "gender": 0, "id": 42281, "job": "Set Designer", "name": "Scott Herbertson"}, {"credit_id": "52fe48009251416c750aca05", "department": "Crew", "gender": 0, "id": 42288, "job": "Stunts", "name": "Woody Schultz"}, {"credit_id": "5592aefb92514152de0010f5", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Makeup Artist", "name": "Linda DeVetta"}, {"credit_id": "5592afa492514152de00112c", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Hairstylist", "name": "Linda DeVetta"}, {"credit_id": "54959ed592514130fc002e5d", "department": "Camera", "gender": 2, "id": 33302, "job": "Camera Operator", "name": "Richard Bluck"}, {"credit_id": "539c4891c3a36810ba002147", "department": "Art", "gender": 2, "id": 33303, "job": "Art Direction", "name": "Simon Bright"}, {"credit_id": "54959c069251417a81001f3a", "department": "Visual Effects", "gender": 0, "id": 113145, "job": "Visual Effects Supervisor", "name": "Richard Martin"}, {"credit_id": "54959a0dc3a3680ff5002c8d", "department": "Crew", "gender": 2, "id": 58188, "job": "Visual Effects Editor", "name": "Steve R. Moore"}, {"credit_id": "52fe48009251416c750aca1d", "department": "Editing", "gender": 2, "id": 58871, "job": "Editor", "name": "John Refoua"}, {"credit_id": "54491a4dc3a3680fc30018ca", "department": "Art", "gender": 0, "id": 92359, "job": "Set Designer", "name": "Karl J. Martin"}, {"credit_id": "52fe48009251416c750aca35", "department": "Camera", "gender": 1, "id": 72201, "job": "Director of Photography", "name": "Chiling Lin"}, {"credit_id": "52fe48009251416c750ac9ff", "department": "Crew", "gender": 0, "id": 89714, "job": "Stunts", "name": "Ilram Choi"}, {"credit_id": "54959c529251416e2b004394", "department": "Visual Effects", "gender": 2, "id": 93214, "job": "Visual Effects Supervisor", "name": "Steven Quale"}, {"credit_id": "54491edf0e0a267489001c37", "department": "Crew", "gender": 1, "id": 122607, "job": "Dialect Coach", "name": "Carla Meyer"}, {"credit_id": "539c485bc3a368653d001a3a", "department": "Art", "gender": 2, "id": 132585, "job": "Art Direction", "name": "Nick Bassett"}, {"credit_id": "539c4903c3a368653d001a74", "department": "Art", "gender": 0, "id": 132596, "job": "Art Direction", "name": "Jill Cormack"}, {"credit_id": "539c4967c3a368653d001a94", "department": "Art", "gender": 0, "id": 132604, "job": "Art Direction", "name": "Andy McLaren"}, {"credit_id": "52fe48009251416c750aca45", "department": "Crew", "gender": 0, "id": 236696, "job": "Motion Capture Artist", "name": "Terry Notary"}, {"credit_id": "54959e02c3a3680fc60027d2", "department": "Crew", "gender": 2, "id": 956198, "job": "Stunt Coordinator", "name": "Garrett Warren"}, {"credit_id": "54959ca3c3a3686ae300438c", "department": "Visual Effects", "gender": 2, "id": 957874, "job": "Visual Effects Supervisor", "name": "Jonathan Rothbart"}, {"credit_id": "570b6f519251412c74001b2f", "department": "Art", "gender": 0, "id": 957889, "job": "Supervising Art Director", "name": "Stefan Dechant"}, {"credit_id": "570b6f62c3a3680b77007460", "department": "Art", "gender": 2, "id": 959555, "job": "Supervising Art Director", "name": "Todd Cherniawsky"}, {"credit_id": "539c4a3ac3a36810da0021cc", "department": "Production", "gender": 0, "id": 1016177, "job": "Casting", "name": "Miranda Rivers"}, {"credit_id": "539c482cc3a36810c1002062", "department": "Art", "gender": 0, "id": 1032536, "job": "Production Design", "name": "Robert Stromberg"}, {"credit_id": "539c4b65c3a36810c9002125", "department": "Costume & Make-Up", "gender": 2, "id": 1071680, "job": "Costume Design", "name": "John Harding"}, {"credit_id": "54959e6692514130fc002e4e", "department": "Camera", "gender": 0, "id": 1177364, "job": "Steadicam Operator", "name": "Roberto De Angelis"}, {"credit_id": "539c49f1c3a368653d001aac", "department": "Costume & Make-Up", "gender": 2, "id": 1202850, "job": "Makeup Department Head", "name": "Mike Smithson"}, {"credit_id": "5495999ec3a3686ae100460c", "department": "Visual Effects", "gender": 0, "id": 1204668, "job": "Visual Effects Producer", "name": "Alain Lalanne"}, {"credit_id": "54959cdfc3a3681153002729", "department": "Visual Effects", "gender": 0, "id": 1206410, "job": "Visual Effects Supervisor", "name": "Lucas Salton"}, {"credit_id": "549596239251417a81001eae", "department": "Crew", "gender": 0, "id": 1234266, "job": "Post Production Supervisor", "name": "Janace Tashjian"}, {"credit_id": "54959c859251416e1e003efe", "department": "Visual Effects", "gender": 0, "id": 1271932, "job": "Visual Effects Supervisor", "name": "Stephen Rosenbaum"}, {"credit_id": "5592af28c3a368775a00105f", "department": "Costume & Make-Up", "gender": 0, "id": 1310064, "job": "Makeup Artist", "name": "Frankie Karena"}, {"credit_id": "539c4adfc3a36810e300203b", "department": "Costume & Make-Up", "gender": 1, "id": 1319844, "job": "Costume Supervisor", "name": "Lisa Lovaas"}, {"credit_id": "54959b579251416e2b004371", "department": "Visual Effects", "gender": 0, "id": 1327028, "job": "Visual Effects Supervisor", "name": "Jonathan Fawkner"}, {"credit_id": "539c48a7c3a36810b5001fa7", "department": "Art", "gender": 0, "id": 1330561, "job": "Art Direction", "name": "Robert Bavin"}, {"credit_id": "539c4a71c3a36810da0021e0", "department": "Costume & Make-Up", "gender": 0, "id": 1330567, "job": "Costume Supervisor", "name": "Anthony Almaraz"}, {"credit_id": "539c4a8ac3a36810ba0021e4", "department": "Costume & Make-Up", "gender": 0, "id": 1330570, "job": "Costume Supervisor", "name": "Carolyn M. Fenton"}, {"credit_id": "539c4ab6c3a36810da0021f0", "department": "Costume & Make-Up", "gender": 0, "id": 1330574, "job": "Costume Supervisor", "name": "Beth Koenigsberg"}, {"credit_id": "54491ab70e0a267480001ba2", "department": "Art", "gender": 0, "id": 1336191, "job": "Set Designer", "name": "Sam Page"}, {"credit_id": "544919d9c3a3680fc30018bd", "department": "Art", "gender": 0, "id": 1339441, "job": "Set Designer", "name": "Tex Kadonaga"}, {"credit_id": "54491cf50e0a267483001b0c", "department": "Editing", "gender": 0, "id": 1352422, "job": "Dialogue Editor", "name": "Kim Foscato"}, {"credit_id": "544919f40e0a26748c001b09", "department": "Art", "gender": 0, "id": 1352962, "job": "Set Designer", "name": "Tammy S. Lee"}, {"credit_id": "5495a115c3a3680ff5002d71", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "5495a12f92514130fc002e94", "department": "Crew", "gender": 0, "id": 1357071, "job": "Transportation Coordinator", "name": "James Waitkus"}, {"credit_id": "5495976fc3a36811530026b0", "department": "Sound", "gender": 0, "id": 1360103, "job": "Supervising Sound Editor", "name": "Addison Teague"}, {"credit_id": "54491837c3a3680fb1001c5a", "department": "Art", "gender": 2, "id": 1376887, "job": "Set Designer", "name": "C. Scott Baker"}, {"credit_id": "54491878c3a3680fb4001c9d", "department": "Art", "gender": 0, "id": 1376888, "job": "Set Designer", "name": "Luke Caska"}, {"credit_id": "544918dac3a3680fa5001ae0", "department": "Art", "gender": 0, "id": 1376889, "job": "Set Designer", "name": "David Chow"}, {"credit_id": "544919110e0a267486001b68", "department": "Art", "gender": 0, "id": 1376890, "job": "Set Designer", "name": "Jonathan Dyer"}, {"credit_id": "54491967c3a3680faa001b5e", "department": "Art", "gender": 0, "id": 1376891, "job": "Set Designer", "name": "Joseph Hiura"}, {"credit_id": "54491997c3a3680fb1001c8a", "department": "Art", "gender": 0, "id": 1376892, "job": "Art Department Coordinator", "name": "Rebecca Jellie"}, {"credit_id": "544919ba0e0a26748f001b42", "department": "Art", "gender": 0, "id": 1376893, "job": "Set Designer", "name": "Robert Andrew Johnson"}, {"credit_id": "54491b1dc3a3680faa001b8c", "department": "Art", "gender": 0, "id": 1376895, "job": "Assistant Art Director", "name": "Mike Stassi"}, {"credit_id": "54491b79c3a3680fbb001826", "department": "Art", "gender": 0, "id": 1376897, "job": "Construction Coordinator", "name": "John Villarino"}, {"credit_id": "54491baec3a3680fb4001ce6", "department": "Art", "gender": 2, "id": 1376898, "job": "Assistant Art Director", "name": "Jeffrey Wisniewski"}, {"credit_id": "54491d2fc3a3680fb4001d07", "department": "Editing", "gender": 0, "id": 1376899, "job": "Dialogue Editor", "name": "Cheryl Nardi"}, {"credit_id": "54491d86c3a3680fa5001b2f", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "54491d9dc3a3680faa001bb0", "department": "Sound", "gender": 0, "id": 1376902, "job": "Supervising Sound Editor", "name": "Gwendolyn Yates Whittle"}, {"credit_id": "54491dc10e0a267486001bce", "department": "Sound", "gender": 0, "id": 1376903, "job": "Sound Re-Recording Mixer", "name": "William Stein"}, {"credit_id": "54491f500e0a26747c001c07", "department": "Crew", "gender": 0, "id": 1376909, "job": "Choreographer", "name": "Lula Washington"}, {"credit_id": "549599239251412c4e002a2e", "department": "Visual Effects", "gender": 0, "id": 1391692, "job": "Visual Effects Producer", "name": "Chris Del Conte"}, {"credit_id": "54959d54c3a36831b8001d9a", "department": "Visual Effects", "gender": 2, "id": 1391695, "job": "Visual Effects Supervisor", "name": "R. Christopher White"}, {"credit_id": "54959bdf9251412c4e002a66", "department": "Visual Effects", "gender": 0, "id": 1394070, "job": "Visual Effects Supervisor", "name": "Dan Lemmon"}, {"credit_id": "5495971d92514132ed002922", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Effects Editor", "name": "Tim Nielsen"}, {"credit_id": "5592b25792514152cc0011aa", "department": "Crew", "gender": 0, "id": 1394286, "job": "CG Supervisor", "name": "Michael Mulholland"}, {"credit_id": "54959a329251416e2b004355", "department": "Crew", "gender": 0, "id": 1394750, "job": "Visual Effects Editor", "name": "Thomas Nittmann"}, {"credit_id": "54959d6dc3a3686ae9004401", "department": "Visual Effects", "gender": 0, "id": 1394755, "job": "Visual Effects Supervisor", "name": "Edson Williams"}, {"credit_id": "5495a08fc3a3686ae300441c", "department": "Editing", "gender": 0, "id": 1394953, "job": "Digital Intermediate", "name": "Christine Carr"}, {"credit_id": "55402d659251413d6d000249", "department": "Visual Effects", "gender": 0, "id": 1395269, "job": "Visual Effects Supervisor", "name": "John Bruno"}, {"credit_id": "54959e7b9251416e1e003f3e", "department": "Camera", "gender": 0, "id": 1398970, "job": "Steadicam Operator", "name": "David Emmerichs"}, {"credit_id": "54959734c3a3686ae10045e0", "department": "Sound", "gender": 0, "id": 1400906, "job": "Sound Effects Editor", "name": "Christopher Scarabosio"}, {"credit_id": "549595dd92514130fc002d79", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "549596009251413af70028cc", "department": "Production", "gender": 0, "id": 1401785, "job": "Production Manager", "name": "Brigitte Yorke"}, {"credit_id": "549596e892514130fc002d99", "department": "Sound", "gender": 0, "id": 1401786, "job": "Sound Effects Editor", "name": "Ken Fischer"}, {"credit_id": "549598229251412c4e002a1c", "department": "Crew", "gender": 0, "id": 1401787, "job": "Special Effects Coordinator", "name": "Iain Hutton"}, {"credit_id": "549598349251416e2b00432b", "department": "Crew", "gender": 0, "id": 1401788, "job": "Special Effects Coordinator", "name": "Steve Ingram"}, {"credit_id": "54959905c3a3686ae3004324", "department": "Visual Effects", "gender": 0, "id": 1401789, "job": "Visual Effects Producer", "name": "Joyce Cox"}, {"credit_id": "5495994b92514132ed002951", "department": "Visual Effects", "gender": 0, "id": 1401790, "job": "Visual Effects Producer", "name": "Jenny Foster"}, {"credit_id": "549599cbc3a3686ae1004613", "department": "Crew", "gender": 0, "id": 1401791, "job": "Visual Effects Editor", "name": "Christopher Marino"}, {"credit_id": "549599f2c3a3686ae100461e", "department": "Crew", "gender": 0, "id": 1401792, "job": "Visual Effects Editor", "name": "Jim Milton"}, {"credit_id": "54959a51c3a3686af3003eb5", "department": "Visual Effects", "gender": 0, "id": 1401793, "job": "Visual Effects Producer", "name": "Cyndi Ochs"}, {"credit_id": "54959a7cc3a36811530026f4", "department": "Crew", "gender": 0, "id": 1401794, "job": "Visual Effects Editor", "name": "Lucas Putnam"}, {"credit_id": "54959b91c3a3680ff5002cb4", "department": "Visual Effects", "gender": 0, "id": 1401795, "job": "Visual Effects Supervisor", "name": "Anthony \'Max\' Ivins"}, {"credit_id": "54959bb69251412c4e002a5f", "department": "Visual Effects", "gender": 0, "id": 1401796, "job": "Visual Effects Supervisor", "name": "John Knoll"}, {"credit_id": "54959cbbc3a3686ae3004391", "department": "Visual Effects", "gender": 2, "id": 1401799, "job": "Visual Effects Supervisor", "name": "Eric Saindon"}, {"credit_id": "54959d06c3a3686ae90043f6", "department": "Visual Effects", "gender": 0, "id": 1401800, "job": "Visual Effects Supervisor", "name": "Wayne Stables"}, {"credit_id": "54959d259251416e1e003f11", "department": "Visual Effects", "gender": 0, "id": 1401801, "job": "Visual Effects Supervisor", "name": "David Stinnett"}, {"credit_id": "54959db49251413af7002975", "department": "Visual Effects", "gender": 0, "id": 1401803, "job": "Visual Effects Supervisor", "name": "Guy Williams"}, {"credit_id": "54959de4c3a3681153002750", "department": "Crew", "gender": 0, "id": 1401804, "job": "Stunt Coordinator", "name": "Stuart Thorp"}, {"credit_id": "54959ef2c3a3680fc60027f2", "department": "Lighting", "gender": 0, "id": 1401805, "job": "Best Boy Electric", "name": "Giles Coburn"}, {"credit_id": "54959f07c3a3680fc60027f9", "department": "Camera", "gender": 2, "id": 1401806, "job": "Still Photographer", "name": "Mark Fellman"}, {"credit_id": "54959f47c3a3681153002774", "department": "Lighting", "gender": 0, "id": 1401807, "job": "Lighting Technician", "name": "Scott Sprague"}, {"credit_id": "54959f8cc3a36831b8001df2", "department": "Visual Effects", "gender": 0, "id": 1401808, "job": "Animation Director", "name": "Jeremy Hollobon"}, {"credit_id": "54959fa0c3a36831b8001dfb", "department": "Visual Effects", "gender": 0, "id": 1401809, "job": "Animation Director", "name": "Orlando Meunier"}, {"credit_id": "54959fb6c3a3686af3003f54", "department": "Visual Effects", "gender": 0, "id": 1401810, "job": "Animation Director", "name": "Taisuke Tanimura"}, {"credit_id": "54959fd2c3a36831b8001e02", "department": "Costume & Make-Up", "gender": 0, "id": 1401812, "job": "Set Costumer", "name": "Lilia Mishel Acevedo"}, {"credit_id": "54959ff9c3a3686ae300440c", "department": "Costume & Make-Up", "gender": 0, "id": 1401814, "job": "Set Costumer", "name": "Alejandro M. Hernandez"}, {"credit_id": "5495a0ddc3a3686ae10046fe", "department": "Editing", "gender": 0, "id": 1401815, "job": "Digital Intermediate", "name": "Marvin Hall"}, {"credit_id": "5495a1f7c3a3686ae3004443", "department": "Production", "gender": 0, "id": 1401816, "job": "Publicist", "name": "Judy Alley"}, {"credit_id": "5592b29fc3a36869d100002f", "department": "Crew", "gender": 0, "id": 1418381, "job": "CG Supervisor", "name": "Mike Perry"}, {"credit_id": "5592b23a9251415df8001081", "department": "Crew", "gender": 0, "id": 1426854, "job": "CG Supervisor", "name": "Andrew Morley"}, {"credit_id": "55491e1192514104c40002d8", "department": "Art", "gender": 0, "id": 1438901, "job": "Conceptual Design", "name": "Seth Engstrom"}, {"credit_id": "5525d5809251417276002b06", "department": "Crew", "gender": 0, "id": 1447362, "job": "Visual Effects Art Director", "name": "Eric Oliver"}, {"credit_id": "554427ca925141586500312a", "department": "Visual Effects", "gender": 0, "id": 1447503, "job": "Modeling", "name": "Matsune Suzuki"}, {"credit_id": "551906889251415aab001c88", "department": "Art", "gender": 0, "id": 1447524, "job": "Art Department Manager", "name": "Paul Tobin"}, {"credit_id": "5592af8492514152cc0010de", "depart

In [115]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [116]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [117]:
movies=movies.merge(credits, on='title')

In [118]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [119]:
#id
#title
#overview
#genres
#keywords
#cast
#crew

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [120]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [121]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [122]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

for delete missing value--

In [123]:
movies.dropna(inplace=True)

for check duplicate values--

In [124]:
movies.duplicated().sum()

np.int64(0)

AND I'AM GOING TO MAKE SIMPLE VIEW DATA(SYSTEMATIC) IN SIMPLE WAY
NOW WORKING ON (GANRES)

In [125]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

here data is in list and dictionary format i want from here only names

In [126]:
import ast
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [127]:
movies['genres'] = movies['genres'].apply(convert)

In [128]:
movies['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [129]:
movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[Action, Crime, Thriller]","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[Comedy, Romance]",[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[Comedy, Drama, Romance, TV Movie]","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,[Documentary],"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

NOW WORKING IN CAST COLUMN
--i want to concider only top 3

In [130]:
movies['cast']

0       [{"cast_id": 242, "character": "Jake Sully", "...
1       [{"cast_id": 4, "character": "Captain Jack Spa...
2       [{"cast_id": 1, "character": "James Bond", "cr...
3       [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4       [{"cast_id": 5, "character": "John Carter", "c...
                              ...
4804    [{"cast_id": 1, "character": "El Mariachi", "c...
4805    [{"cast_id": 1, "character": "Buzzy", "credit_...
4806    [{"cast_id": 8, "character": "Oliver O\u2019To...
4807    [{"cast_id": 3, "character": "Sam", "credit_id...
4808    [{"cast_id": 3, "character": "Herself", "credi...
Name: cast, Length: 4806, dtype: object

In [131]:
import ast

def convert3(obj):
    L = []
    count = 0
    try:
        data = ast.literal_eval(obj)
        for i in data:
            if count != 3:
                L.append(i['name'])
                count += 1
            else:
                break
    except (ValueError, SyntaxError, TypeError):
        return []
    return L

In [132]:
movies['cast'] = movies['cast'].apply(lambda x: convert3(x) if isinstance(x, str) else [])

In [191]:
movies['cast'].head()

0    [SamWorthington, ZoeSaldana, SigourneyWeaver]
1       [JohnnyDepp, OrlandoBloom, KeiraKnightley]
2        [DanielCraig, ChristophWaltz, LéaSeydoux]
3        [ChristianBale, MichaelCaine, GaryOldman]
4      [TaylorKitsch, LynnCollins, SamanthaMorton]
Name: cast, dtype: object

In [134]:
movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[Action, Crime, Thriller]","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[Comedy, Romance]",[],"[Edward Burns, Kerry Bishé, Marsha Dietlein]","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[Comedy, Drama, Romance, TV Movie]","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[Eric Mabius, Kristin Booth, Crystal Lowe]","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[Daniel Henney, Eliza Coupe, Bill Paxton]","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,[Documentary],"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[Drew Barrymore, Brian Herzlinger, Corey Feldman]","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

NOW WORKING ON CREW COLUMN

In [135]:
movies['crew'][0]

'[{"credit_id": "52fe48009251416c750aca23", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "539c47ecc3a36810e3001f87", "department": "Art", "gender": 2, "id": 496, "job": "Production Design", "name": "Rick Carter"}, {"credit_id": "54491c89c3a3680fb4001cf7", "department": "Sound", "gender": 0, "id": 900, "job": "Sound Designer", "name": "Christopher Boyes"}, {"credit_id": "54491cb70e0a267480001bd0", "department": "Sound", "gender": 0, "id": 900, "job": "Supervising Sound Editor", "name": "Christopher Boyes"}, {"credit_id": "539c4a4cc3a36810c9002101", "department": "Production", "gender": 1, "id": 1262, "job": "Casting", "name": "Mali Finn"}, {"credit_id": "5544ee3b925141499f0008fc", "department": "Sound", "gender": 2, "id": 1729, "job": "Original Music Composer", "name": "James Horner"}, {"credit_id": "52fe48009251416c750ac9c3", "department": "Directing", "gender": 2, "id": 2710, "job": "Director", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750ac9d9", "department": "Writing", "gender": 2, "id": 2710, "job": "Writer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca17", "department": "Editing", "gender": 2, "id": 2710, "job": "Editor", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca29", "department": "Production", "gender": 2, "id": 2710, "job": "Producer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca3f", "department": "Writing", "gender": 2, "id": 2710, "job": "Screenplay", "name": "James Cameron"}, {"credit_id": "539c4987c3a36810ba0021a4", "department": "Art", "gender": 2, "id": 7236, "job": "Art Direction", "name": "Andrew Menzies"}, {"credit_id": "549598c3c3a3686ae9004383", "department": "Visual Effects", "gender": 0, "id": 6690, "job": "Visual Effects Producer", "name": "Jill Brooks"}, {"credit_id": "52fe48009251416c750aca4b", "department": "Production", "gender": 1, "id": 6347, "job": "Casting", "name": "Margery Simkin"}, {"credit_id": "570b6f419251417da70032fe", "department": "Art", "gender": 2, "id": 6878, "job": "Supervising Art Director", "name": "Kevin Ishioka"}, {"credit_id": "5495a0fac3a3686ae9004468", "department": "Sound", "gender": 0, "id": 6883, "job": "Music Editor", "name": "Dick Bernstein"}, {"credit_id": "54959706c3a3686af3003e81", "department": "Sound", "gender": 0, "id": 8159, "job": "Sound Effects Editor", "name": "Shannon Mills"}, {"credit_id": "54491d58c3a3680fb1001ccb", "department": "Sound", "gender": 0, "id": 8160, "job": "Foley", "name": "Dennie Thorpe"}, {"credit_id": "54491d6cc3a3680fa5001b2c", "department": "Sound", "gender": 0, "id": 8163, "job": "Foley", "name": "Jana Vance"}, {"credit_id": "52fe48009251416c750aca57", "department": "Costume & Make-Up", "gender": 1, "id": 8527, "job": "Costume Design", "name": "Deborah Lynn Scott"}, {"credit_id": "52fe48009251416c750aca2f", "department": "Production", "gender": 2, "id": 8529, "job": "Producer", "name": "Jon Landau"}, {"credit_id": "539c4937c3a36810ba002194", "department": "Art", "gender": 0, "id": 9618, "job": "Art Direction", "name": "Sean Haworth"}, {"credit_id": "539c49b6c3a36810c10020e6", "department": "Art", "gender": 1, "id": 12653, "job": "Set Decoration", "name": "Kim Sinclair"}, {"credit_id": "570b6f2f9251413a0e00020d", "department": "Art", "gender": 1, "id": 12653, "job": "Supervising Art Director", "name": "Kim Sinclair"}, {"credit_id": "54491a6c0e0a26748c001b19", "department": "Art", "gender": 2, "id": 14350, "job": "Set Designer", "name": "Richard F. Mays"}, {"credit_id": "56928cf4c3a3684cff0025c4", "department": "Production", "gender": 1, "id": 20294, "job": "Executive Producer", "name": "Laeta Kalogridis"}, {"credit_id": "52fe48009251416c750aca51", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "52fe48009251416c750aca11", "department": "Camera", "gender": 2, "id": 18265, "job": "Director of Photography", "name": "Mauro Fiore"}, {"credit_id": "5449194d0e0a26748f001b39", "department": "Art", "gender": 0, "id": 42281, "job": "Set Designer", "name": "Scott Herbertson"}, {"credit_id": "52fe48009251416c750aca05", "department": "Crew", "gender": 0, "id": 42288, "job": "Stunts", "name": "Woody Schultz"}, {"credit_id": "5592aefb92514152de0010f5", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Makeup Artist", "name": "Linda DeVetta"}, {"credit_id": "5592afa492514152de00112c", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Hairstylist", "name": "Linda DeVetta"}, {"credit_id": "54959ed592514130fc002e5d", "department": "Camera", "gender": 2, "id": 33302, "job": "Camera Operator", "name": "Richard Bluck"}, {"credit_id": "539c4891c3a36810ba002147", "department": "Art", "gender": 2, "id": 33303, "job": "Art Direction", "name": "Simon Bright"}, {"credit_id": "54959c069251417a81001f3a", "department": "Visual Effects", "gender": 0, "id": 113145, "job": "Visual Effects Supervisor", "name": "Richard Martin"}, {"credit_id": "54959a0dc3a3680ff5002c8d", "department": "Crew", "gender": 2, "id": 58188, "job": "Visual Effects Editor", "name": "Steve R. Moore"}, {"credit_id": "52fe48009251416c750aca1d", "department": "Editing", "gender": 2, "id": 58871, "job": "Editor", "name": "John Refoua"}, {"credit_id": "54491a4dc3a3680fc30018ca", "department": "Art", "gender": 0, "id": 92359, "job": "Set Designer", "name": "Karl J. Martin"}, {"credit_id": "52fe48009251416c750aca35", "department": "Camera", "gender": 1, "id": 72201, "job": "Director of Photography", "name": "Chiling Lin"}, {"credit_id": "52fe48009251416c750ac9ff", "department": "Crew", "gender": 0, "id": 89714, "job": "Stunts", "name": "Ilram Choi"}, {"credit_id": "54959c529251416e2b004394", "department": "Visual Effects", "gender": 2, "id": 93214, "job": "Visual Effects Supervisor", "name": "Steven Quale"}, {"credit_id": "54491edf0e0a267489001c37", "department": "Crew", "gender": 1, "id": 122607, "job": "Dialect Coach", "name": "Carla Meyer"}, {"credit_id": "539c485bc3a368653d001a3a", "department": "Art", "gender": 2, "id": 132585, "job": "Art Direction", "name": "Nick Bassett"}, {"credit_id": "539c4903c3a368653d001a74", "department": "Art", "gender": 0, "id": 132596, "job": "Art Direction", "name": "Jill Cormack"}, {"credit_id": "539c4967c3a368653d001a94", "department": "Art", "gender": 0, "id": 132604, "job": "Art Direction", "name": "Andy McLaren"}, {"credit_id": "52fe48009251416c750aca45", "department": "Crew", "gender": 0, "id": 236696, "job": "Motion Capture Artist", "name": "Terry Notary"}, {"credit_id": "54959e02c3a3680fc60027d2", "department": "Crew", "gender": 2, "id": 956198, "job": "Stunt Coordinator", "name": "Garrett Warren"}, {"credit_id": "54959ca3c3a3686ae300438c", "department": "Visual Effects", "gender": 2, "id": 957874, "job": "Visual Effects Supervisor", "name": "Jonathan Rothbart"}, {"credit_id": "570b6f519251412c74001b2f", "department": "Art", "gender": 0, "id": 957889, "job": "Supervising Art Director", "name": "Stefan Dechant"}, {"credit_id": "570b6f62c3a3680b77007460", "department": "Art", "gender": 2, "id": 959555, "job": "Supervising Art Director", "name": "Todd Cherniawsky"}, {"credit_id": "539c4a3ac3a36810da0021cc", "department": "Production", "gender": 0, "id": 1016177, "job": "Casting", "name": "Miranda Rivers"}, {"credit_id": "539c482cc3a36810c1002062", "department": "Art", "gender": 0, "id": 1032536, "job": "Production Design", "name": "Robert Stromberg"}, {"credit_id": "539c4b65c3a36810c9002125", "department": "Costume & Make-Up", "gender": 2, "id": 1071680, "job": "Costume Design", "name": "John Harding"}, {"credit_id": "54959e6692514130fc002e4e", "department": "Camera", "gender": 0, "id": 1177364, "job": "Steadicam Operator", "name": "Roberto De Angelis"}, {"credit_id": "539c49f1c3a368653d001aac", "department": "Costume & Make-Up", "gender": 2, "id": 1202850, "job": "Makeup Department Head", "name": "Mike Smithson"}, {"credit_id": "5495999ec3a3686ae100460c", "department": "Visual Effects", "gender": 0, "id": 1204668, "job": "Visual Effects Producer", "name": "Alain Lalanne"}, {"credit_id": "54959cdfc3a3681153002729", "department": "Visual Effects", "gender": 0, "id": 1206410, "job": "Visual Effects Supervisor", "name": "Lucas Salton"}, {"credit_id": "549596239251417a81001eae", "department": "Crew", "gender": 0, "id": 1234266, "job": "Post Production Supervisor", "name": "Janace Tashjian"}, {"credit_id": "54959c859251416e1e003efe", "department": "Visual Effects", "gender": 0, "id": 1271932, "job": "Visual Effects Supervisor", "name": "Stephen Rosenbaum"}, {"credit_id": "5592af28c3a368775a00105f", "department": "Costume & Make-Up", "gender": 0, "id": 1310064, "job": "Makeup Artist", "name": "Frankie Karena"}, {"credit_id": "539c4adfc3a36810e300203b", "department": "Costume & Make-Up", "gender": 1, "id": 1319844, "job": "Costume Supervisor", "name": "Lisa Lovaas"}, {"credit_id": "54959b579251416e2b004371", "department": "Visual Effects", "gender": 0, "id": 1327028, "job": "Visual Effects Supervisor", "name": "Jonathan Fawkner"}, {"credit_id": "539c48a7c3a36810b5001fa7", "department": "Art", "gender": 0, "id": 1330561, "job": "Art Direction", "name": "Robert Bavin"}, {"credit_id": "539c4a71c3a36810da0021e0", "department": "Costume & Make-Up", "gender": 0, "id": 1330567, "job": "Costume Supervisor", "name": "Anthony Almaraz"}, {"credit_id": "539c4a8ac3a36810ba0021e4", "department": "Costume & Make-Up", "gender": 0, "id": 1330570, "job": "Costume Supervisor", "name": "Carolyn M. Fenton"}, {"credit_id": "539c4ab6c3a36810da0021f0", "department": "Costume & Make-Up", "gender": 0, "id": 1330574, "job": "Costume Supervisor", "name": "Beth Koenigsberg"}, {"credit_id": "54491ab70e0a267480001ba2", "department": "Art", "gender": 0, "id": 1336191, "job": "Set Designer", "name": "Sam Page"}, {"credit_id": "544919d9c3a3680fc30018bd", "department": "Art", "gender": 0, "id": 1339441, "job": "Set Designer", "name": "Tex Kadonaga"}, {"credit_id": "54491cf50e0a267483001b0c", "department": "Editing", "gender": 0, "id": 1352422, "job": "Dialogue Editor", "name": "Kim Foscato"}, {"credit_id": "544919f40e0a26748c001b09", "department": "Art", "gender": 0, "id": 1352962, "job": "Set Designer", "name": "Tammy S. Lee"}, {"credit_id": "5495a115c3a3680ff5002d71", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "5495a12f92514130fc002e94", "department": "Crew", "gender": 0, "id": 1357071, "job": "Transportation Coordinator", "name": "James Waitkus"}, {"credit_id": "5495976fc3a36811530026b0", "department": "Sound", "gender": 0, "id": 1360103, "job": "Supervising Sound Editor", "name": "Addison Teague"}, {"credit_id": "54491837c3a3680fb1001c5a", "department": "Art", "gender": 2, "id": 1376887, "job": "Set Designer", "name": "C. Scott Baker"}, {"credit_id": "54491878c3a3680fb4001c9d", "department": "Art", "gender": 0, "id": 1376888, "job": "Set Designer", "name": "Luke Caska"}, {"credit_id": "544918dac3a3680fa5001ae0", "department": "Art", "gender": 0, "id": 1376889, "job": "Set Designer", "name": "David Chow"}, {"credit_id": "544919110e0a267486001b68", "department": "Art", "gender": 0, "id": 1376890, "job": "Set Designer", "name": "Jonathan Dyer"}, {"credit_id": "54491967c3a3680faa001b5e", "department": "Art", "gender": 0, "id": 1376891, "job": "Set Designer", "name": "Joseph Hiura"}, {"credit_id": "54491997c3a3680fb1001c8a", "department": "Art", "gender": 0, "id": 1376892, "job": "Art Department Coordinator", "name": "Rebecca Jellie"}, {"credit_id": "544919ba0e0a26748f001b42", "department": "Art", "gender": 0, "id": 1376893, "job": "Set Designer", "name": "Robert Andrew Johnson"}, {"credit_id": "54491b1dc3a3680faa001b8c", "department": "Art", "gender": 0, "id": 1376895, "job": "Assistant Art Director", "name": "Mike Stassi"}, {"credit_id": "54491b79c3a3680fbb001826", "department": "Art", "gender": 0, "id": 1376897, "job": "Construction Coordinator", "name": "John Villarino"}, {"credit_id": "54491baec3a3680fb4001ce6", "department": "Art", "gender": 2, "id": 1376898, "job": "Assistant Art Director", "name": "Jeffrey Wisniewski"}, {"credit_id": "54491d2fc3a3680fb4001d07", "department": "Editing", "gender": 0, "id": 1376899, "job": "Dialogue Editor", "name": "Cheryl Nardi"}, {"credit_id": "54491d86c3a3680fa5001b2f", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "54491d9dc3a3680faa001bb0", "department": "Sound", "gender": 0, "id": 1376902, "job": "Supervising Sound Editor", "name": "Gwendolyn Yates Whittle"}, {"credit_id": "54491dc10e0a267486001bce", "department": "Sound", "gender": 0, "id": 1376903, "job": "Sound Re-Recording Mixer", "name": "William Stein"}, {"credit_id": "54491f500e0a26747c001c07", "department": "Crew", "gender": 0, "id": 1376909, "job": "Choreographer", "name": "Lula Washington"}, {"credit_id": "549599239251412c4e002a2e", "department": "Visual Effects", "gender": 0, "id": 1391692, "job": "Visual Effects Producer", "name": "Chris Del Conte"}, {"credit_id": "54959d54c3a36831b8001d9a", "department": "Visual Effects", "gender": 2, "id": 1391695, "job": "Visual Effects Supervisor", "name": "R. Christopher White"}, {"credit_id": "54959bdf9251412c4e002a66", "department": "Visual Effects", "gender": 0, "id": 1394070, "job": "Visual Effects Supervisor", "name": "Dan Lemmon"}, {"credit_id": "5495971d92514132ed002922", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Effects Editor", "name": "Tim Nielsen"}, {"credit_id": "5592b25792514152cc0011aa", "department": "Crew", "gender": 0, "id": 1394286, "job": "CG Supervisor", "name": "Michael Mulholland"}, {"credit_id": "54959a329251416e2b004355", "department": "Crew", "gender": 0, "id": 1394750, "job": "Visual Effects Editor", "name": "Thomas Nittmann"}, {"credit_id": "54959d6dc3a3686ae9004401", "department": "Visual Effects", "gender": 0, "id": 1394755, "job": "Visual Effects Supervisor", "name": "Edson Williams"}, {"credit_id": "5495a08fc3a3686ae300441c", "department": "Editing", "gender": 0, "id": 1394953, "job": "Digital Intermediate", "name": "Christine Carr"}, {"credit_id": "55402d659251413d6d000249", "department": "Visual Effects", "gender": 0, "id": 1395269, "job": "Visual Effects Supervisor", "name": "John Bruno"}, {"credit_id": "54959e7b9251416e1e003f3e", "department": "Camera", "gender": 0, "id": 1398970, "job": "Steadicam Operator", "name": "David Emmerichs"}, {"credit_id": "54959734c3a3686ae10045e0", "department": "Sound", "gender": 0, "id": 1400906, "job": "Sound Effects Editor", "name": "Christopher Scarabosio"}, {"credit_id": "549595dd92514130fc002d79", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "549596009251413af70028cc", "department": "Production", "gender": 0, "id": 1401785, "job": "Production Manager", "name": "Brigitte Yorke"}, {"credit_id": "549596e892514130fc002d99", "department": "Sound", "gender": 0, "id": 1401786, "job": "Sound Effects Editor", "name": "Ken Fischer"}, {"credit_id": "549598229251412c4e002a1c", "department": "Crew", "gender": 0, "id": 1401787, "job": "Special Effects Coordinator", "name": "Iain Hutton"}, {"credit_id": "549598349251416e2b00432b", "department": "Crew", "gender": 0, "id": 1401788, "job": "Special Effects Coordinator", "name": "Steve Ingram"}, {"credit_id": "54959905c3a3686ae3004324", "department": "Visual Effects", "gender": 0, "id": 1401789, "job": "Visual Effects Producer", "name": "Joyce Cox"}, {"credit_id": "5495994b92514132ed002951", "department": "Visual Effects", "gender": 0, "id": 1401790, "job": "Visual Effects Producer", "name": "Jenny Foster"}, {"credit_id": "549599cbc3a3686ae1004613", "department": "Crew", "gender": 0, "id": 1401791, "job": "Visual Effects Editor", "name": "Christopher Marino"}, {"credit_id": "549599f2c3a3686ae100461e", "department": "Crew", "gender": 0, "id": 1401792, "job": "Visual Effects Editor", "name": "Jim Milton"}, {"credit_id": "54959a51c3a3686af3003eb5", "department": "Visual Effects", "gender": 0, "id": 1401793, "job": "Visual Effects Producer", "name": "Cyndi Ochs"}, {"credit_id": "54959a7cc3a36811530026f4", "department": "Crew", "gender": 0, "id": 1401794, "job": "Visual Effects Editor", "name": "Lucas Putnam"}, {"credit_id": "54959b91c3a3680ff5002cb4", "department": "Visual Effects", "gender": 0, "id": 1401795, "job": "Visual Effects Supervisor", "name": "Anthony \'Max\' Ivins"}, {"credit_id": "54959bb69251412c4e002a5f", "department": "Visual Effects", "gender": 0, "id": 1401796, "job": "Visual Effects Supervisor", "name": "John Knoll"}, {"credit_id": "54959cbbc3a3686ae3004391", "department": "Visual Effects", "gender": 2, "id": 1401799, "job": "Visual Effects Supervisor", "name": "Eric Saindon"}, {"credit_id": "54959d06c3a3686ae90043f6", "department": "Visual Effects", "gender": 0, "id": 1401800, "job": "Visual Effects Supervisor", "name": "Wayne Stables"}, {"credit_id": "54959d259251416e1e003f11", "department": "Visual Effects", "gender": 0, "id": 1401801, "job": "Visual Effects Supervisor", "name": "David Stinnett"}, {"credit_id": "54959db49251413af7002975", "department": "Visual Effects", "gender": 0, "id": 1401803, "job": "Visual Effects Supervisor", "name": "Guy Williams"}, {"credit_id": "54959de4c3a3681153002750", "department": "Crew", "gender": 0, "id": 1401804, "job": "Stunt Coordinator", "name": "Stuart Thorp"}, {"credit_id": "54959ef2c3a3680fc60027f2", "department": "Lighting", "gender": 0, "id": 1401805, "job": "Best Boy Electric", "name": "Giles Coburn"}, {"credit_id": "54959f07c3a3680fc60027f9", "department": "Camera", "gender": 2, "id": 1401806, "job": "Still Photographer", "name": "Mark Fellman"}, {"credit_id": "54959f47c3a3681153002774", "department": "Lighting", "gender": 0, "id": 1401807, "job": "Lighting Technician", "name": "Scott Sprague"}, {"credit_id": "54959f8cc3a36831b8001df2", "department": "Visual Effects", "gender": 0, "id": 1401808, "job": "Animation Director", "name": "Jeremy Hollobon"}, {"credit_id": "54959fa0c3a36831b8001dfb", "department": "Visual Effects", "gender": 0, "id": 1401809, "job": "Animation Director", "name": "Orlando Meunier"}, {"credit_id": "54959fb6c3a3686af3003f54", "department": "Visual Effects", "gender": 0, "id": 1401810, "job": "Animation Director", "name": "Taisuke Tanimura"}, {"credit_id": "54959fd2c3a36831b8001e02", "department": "Costume & Make-Up", "gender": 0, "id": 1401812, "job": "Set Costumer", "name": "Lilia Mishel Acevedo"}, {"credit_id": "54959ff9c3a3686ae300440c", "department": "Costume & Make-Up", "gender": 0, "id": 1401814, "job": "Set Costumer", "name": "Alejandro M. Hernandez"}, {"credit_id": "5495a0ddc3a3686ae10046fe", "department": "Editing", "gender": 0, "id": 1401815, "job": "Digital Intermediate", "name": "Marvin Hall"}, {"credit_id": "5495a1f7c3a3686ae3004443", "department": "Production", "gender": 0, "id": 1401816, "job": "Publicist", "name": "Judy Alley"}, {"credit_id": "5592b29fc3a36869d100002f", "department": "Crew", "gender": 0, "id": 1418381, "job": "CG Supervisor", "name": "Mike Perry"}, {"credit_id": "5592b23a9251415df8001081", "department": "Crew", "gender": 0, "id": 1426854, "job": "CG Supervisor", "name": "Andrew Morley"}, {"credit_id": "55491e1192514104c40002d8", "department": "Art", "gender": 0, "id": 1438901, "job": "Conceptual Design", "name": "Seth Engstrom"}, {"credit_id": "5525d5809251417276002b06", "department": "Crew", "gender": 0, "id": 1447362, "job": "Visual Effects Art Director", "name": "Eric Oliver"}, {"credit_id": "554427ca925141586500312a", "department": "Visual Effects", "gender": 0, "id": 1447503, "job": "Modeling", "name": "Matsune Suzuki"}, {"credit_id": "551906889251415aab001c88", "department": "Art", "gender": 0, "id": 1447524, "job": "Art Department Manager", "name": "Paul Tobin"}, {"credit_id": "5592af8492514152cc0010de", "department": 

In [136]:
import ast
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [137]:
movies['crew']=movies['crew'].apply(fetch_director)

In [138]:
movies['crew']

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4806, dtype: object

In [139]:
movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[Action, Crime, Thriller]","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez]
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[Comedy, Romance]",[],"[Edward Burns, Kerry Bishé, Marsha Dietlein]",[Edward Burns]
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[Comedy, Drama, Romance, TV Movie]","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[Eric Mabius, Kristin Booth, Crystal Lowe]",[Scott Smith]
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[Daniel Henney, Eliza Coupe, Bill Paxton]",[Daniel Hsia]
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,[Documentary],"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[Drew Barrymore, Brian Herzlinger, Corey Feldman]",[Brian Herzlinger]

I'M GOING TO OVERVIEW CONVERT INTO LIST FORMAT

In [140]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [141]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [142]:
movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...","[Action, Crime, Thriller]","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez]
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...","[Comedy, Romance]",[],"[Edward Burns, Kerry Bishé, Marsha Dietlein]",[Edward Burns]
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[Comedy, Drama, Romance, TV Movie]","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[Eric Mabius, Kristin Booth, Crystal Lowe]",[Scott Smith]
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",[],[],"[Daniel Henney, Eliza Coupe, Bill Paxton]",[Daniel Hsia]
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...",[Documentary],"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[Drew Barrymore, Brian Herzlinger, Corey Feldman]",[Brian Herzlinger]

I'M GOING TO REMOVE ALL SPACE BETWEEN NAMES (because the name are also similar of crew etc.)

In [143]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew']=movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])

In [144]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[[, {, "", i, d, "", :, , 1, 4, 6, 3, ,, , "", n,...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[SamWorthington, ZoeSaldana, SigourneyWeaver]"
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[[, {, "", i, d, "", :, , 2, 7, 0, ,, , "", n, a,...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]"
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[[, {, "", i, d, "", :, , 4, 7, 0, ,, , "", n, a,...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[DanielCraig, ChristophWaltz, LéaSeydoux]"
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[[, {, "", i, d, "", :, , 8, 4, 9, ,, , "", n, a,...","[ChristianBale, MichaelCaine, GaryOldman]","[ChristianBale, MichaelCaine, GaryOldman]"
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[[, {, "", i, d, "", :, , 8, 1, 8, ,, , "", n, a,...","[TaylorKitsch, LynnCollins, SamanthaMorton]","[TaylorKitsch, LynnCollins, SamanthaMorton]"

NOW I'M GOING TO CREATE COLUMN (TAGS) FORM  TO ADD THESE COLUMNS ALSO

In [145]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [146]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[[, {, "", i, d, "", :, , 1, 4, 6, 3, ,, , "", n,...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[[, {, "", i, d, "", :, , 2, 7, 0, ,, , "", n, a,...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[[, {, "", i, d, "", :, , 4, 7, 0, ,, , "", n, a,...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[DanielCraig, ChristophWaltz, LéaSeydoux]","[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[[, {, "", i, d, "", :, , 8, 4, 9, ,, , "", n, a,...","[ChristianBale, MichaelCaine, GaryOldman]","[ChristianBale, MichaelCaine, GaryOldman]","[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[[, {, "", i, d, "", :, , 8, 1, 8, ,, , "", n, a,...","[TaylorKitsch, LynnCollins, SamanthaMorton]","[TaylorKitsch, LynnCollins, SamanthaMorton]","[John, Carter, is, a, war-weary,, former, mili..."

NOW MAKING A NEW DATA FRAME AND I WANT (movie_id,title,tags) only

In [147]:
new_df = movies[['movie_id','title','tags']]

In [148]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

TAGS COLUMN CONVERT INTO STRING

In [149]:
new_df['tags']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: tags, Length: 4806, dtype: object

In [150]:
new_df['tags'] = new_df['tags'].apply(lambda x: ", ".join(x))

C:\Users\NEERAJ SINGH SAUN\AppData\Local\Temp\ipykernel_28272\627521330.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: ", ".join(x))

In [151]:
new_df

,movie_id,title,tags
0,19995,Avatar,"In, the, 22nd, century,, a, paraplegic, Marine..."
1,285,Pirates of the Caribbean: At World's End,"Captain, Barbossa,, long, believed, to, be, de..."
2,206647,Spectre,"A, cryptic, message, from, Bond’s, past, sends..."
3,49026,The Dark Knight Rises,"Following, the, death, of, District, Attorney,..."
4,49529,John Carter,"John, Carter, is, a, war-weary,, former, milit..."
...,...,...,...
4804,9367,El Mariachi,"El, Mariachi, just, wants, to, play, his, guit..."
4805,72766,Newlyweds,"A, newlywed, couple's, honeymoon, is, upended,..."
4806,231617,"Signed, Sealed, Delivered","""Signed,, Sealed,, Delivered"", introduces, a, ..."
4807,126186,Shanghai Calling,"When, ambitious, New, York, attorney, Sam, is,..."
4808,25975,My Date with Drew,"Ever, since, the, second, grade, when, he, fir..."

In [152]:
new_df['tags'].head()

0    In, the, 22nd, century,, a, paraplegic, Marine...
1    Captain, Barbossa,, long, believed, to, be, de...
2    A, cryptic, message, from, Bond’s, past, sends...
3    Following, the, death, of, District, Attorney,...
4    John, Carter, is, a, war-weary,, former, milit...
Name: tags, dtype: object

I HAVE SEEN MANY TIMES (,,) IN THIS THEN I DECIDE TOH REPLACE WITH (,)

In [153]:
new_df['tags'] = new_df['tags'].str.replace(",,", ",", regex=True)

C:\Users\NEERAJ SINGH SAUN\AppData\Local\Temp\ipykernel_28272\638804356.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].str.replace(",,", ",", regex=True)

In [154]:
new_df['tags']

0       In, the, 22nd, century, a, paraplegic, Marine,...
1       Captain, Barbossa, long, believed, to, be, dea...
2       A, cryptic, message, from, Bond’s, past, sends...
3       Following, the, death, of, District, Attorney,...
4       John, Carter, is, a, war-weary, former, milita...
                              ...
4804    El, Mariachi, just, wants, to, play, his, guit...
4805    A, newlywed, couple's, honeymoon, is, upended,...
4806    "Signed, Sealed, Delivered", introduces, a, de...
4807    When, ambitious, New, York, attorney, Sam, is,...
4808    Ever, since, the, second, grade, when, he, fir...
Name: tags, Length: 4806, dtype: object

In [155]:
new_df

,movie_id,title,tags
0,19995,Avatar,"In, the, 22nd, century, a, paraplegic, Marine,..."
1,285,Pirates of the Caribbean: At World's End,"Captain, Barbossa, long, believed, to, be, dea..."
2,206647,Spectre,"A, cryptic, message, from, Bond’s, past, sends..."
3,49026,The Dark Knight Rises,"Following, the, death, of, District, Attorney,..."
4,49529,John Carter,"John, Carter, is, a, war-weary, former, milita..."
...,...,...,...
4804,9367,El Mariachi,"El, Mariachi, just, wants, to, play, his, guit..."
4805,72766,Newlyweds,"A, newlywed, couple's, honeymoon, is, upended,..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"", introduces, a, de..."
4807,126186,Shanghai Calling,"When, ambitious, New, York, attorney, Sam, is,..."
4808,25975,My Date with Drew,"Ever, since, the, second, grade, when, he, fir..."

In [156]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\NEERAJ SINGH SAUN\AppData\Local\Temp\ipykernel_28272\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [157]:
new_df

,movie_id,title,tags
0,19995,Avatar,"in, the, 22nd, century, a, paraplegic, marine,..."
1,285,Pirates of the Caribbean: At World's End,"captain, barbossa, long, believed, to, be, dea..."
2,206647,Spectre,"a, cryptic, message, from, bond’s, past, sends..."
3,49026,The Dark Knight Rises,"following, the, death, of, district, attorney,..."
4,49529,John Carter,"john, carter, is, a, war-weary, former, milita..."
...,...,...,...
4804,9367,El Mariachi,"el, mariachi, just, wants, to, play, his, guit..."
4805,72766,Newlyweds,"a, newlywed, couple's, honeymoon, is, upended,..."
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"", introduces, a, de..."
4807,126186,Shanghai Calling,"when, ambitious, new, york, attorney, sam, is,..."
4808,25975,My Date with Drew,"ever, since, the, second, grade, when, he, fir..."

here we are just checking tags convert into lower yes or not!

In [158]:
new_df['tags'][301]

'a, set, of, six, nested, stories, spanning, time, between, the, 19th, century, and, a, distant, post-apocalyptic, future., cloud, atlas, explores, how, the, actions, and, consequences, of, individual, lives, impact, one, another, throughout, the, past, the, present, and, the, future., action, mystery, and, romance, weave, through, the, story, as, one, soul, is, shaped, from, a, killer, into, a, hero, and, a, single, act, of, kindness, ripples, across, centuries, to, inspire, a, revolution, in, the, distant, future., based, on, the, award, winning, novel, by, david, mitchell., directed, by, tom, tykwer, and, the, wachowskis., drama, sciencefiction, [, {, ", i, d, ", :, , 4, 0, 2, , , ", n, a, m, e, ", :, , ", c, l, o, n, e, ", }, , , {, ", i, d, ", :, , 2, 9, 6, 4, , , ", n, a, m, e, ", :, , ", f, u, t, u, r, e, ", }, , , {, ", i, d, ", :, , 4, 5, 6, 5, , , ", n, a, m, e, ", :, , ", d, y, s, t, o, p, i, a, ", }, , , {, ", i, d, ", :, , 1, 5, 9, 7, 5, 3, , , ", n, a, m, e, ", :, , ", e, n, s, e, m, b, l, e, , c, a, s, t, ", }, , , {, ", i, d, ", :, , 1, 7, 9, 4, 3, 1, , , ", n, a, m, e, ", :, , ", d, u, r, i, n, g, c, r, e, d, i, t, s, s, t, i, n, g, e, r, ", }, , , {, ", i, d, ", :, , 1, 8, 4, 5, 8, 4, , , ", n, a, m, e, ", :, , ", c, e, n, t, u, r, y, ", }, , , {, ", i, d, ", :, , 1, 8, 7, 0, 5, 6, , , ", n, a, m, e, ", :, , ", w, o, m, a, n, , d, i, r, e, c, t, o, r, ", }, , , {, ", i, d, ", :, , 2, 1, 4, 5, 4, 8, , , ", n, a, m, e, ", :, , ", 1, 9, 3, 0, s, ", }, ], tomhanks, halleberry, jimbroadbent, tomhanks, halleberry, jimbroadbent'

here i'am gonna remove ' ", " these things form tags!

In [159]:
new_df['tags']=new_df['tags'].str.replace('"', "", regex=False)

C:\Users\NEERAJ SINGH SAUN\AppData\Local\Temp\ipykernel_28272\2979389040.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].str.replace('"', "", regex=False)

In [160]:
new_df['tags'][301]

'a, set, of, six, nested, stories, spanning, time, between, the, 19th, century, and, a, distant, post-apocalyptic, future., cloud, atlas, explores, how, the, actions, and, consequences, of, individual, lives, impact, one, another, throughout, the, past, the, present, and, the, future., action, mystery, and, romance, weave, through, the, story, as, one, soul, is, shaped, from, a, killer, into, a, hero, and, a, single, act, of, kindness, ripples, across, centuries, to, inspire, a, revolution, in, the, distant, future., based, on, the, award, winning, novel, by, david, mitchell., directed, by, tom, tykwer, and, the, wachowskis., drama, sciencefiction, [, {, , i, d, , :, , 4, 0, 2, , , , n, a, m, e, , :, , , c, l, o, n, e, , }, , , {, , i, d, , :, , 2, 9, 6, 4, , , , n, a, m, e, , :, , , f, u, t, u, r, e, , }, , , {, , i, d, , :, , 4, 5, 6, 5, , , , n, a, m, e, , :, , , d, y, s, t, o, p, i, a, , }, , , {, , i, d, , :, , 1, 5, 9, 7, 5, 3, , , , n, a, m, e, , :, , , e, n, s, e, m, b, l, e, , c, a, s, t, , }, , , {, , i, d, , :, , 1, 7, 9, 4, 3, 1, , , , n, a, m, e, , :, , , d, u, r, i, n, g, c, r, e, d, i, t, s, s, t, i, n, g, e, r, , }, , , {, , i, d, , :, , 1, 8, 4, 5, 8, 4, , , , n, a, m, e, , :, , , c, e, n, t, u, r, y, , }, , , {, , i, d, , :, , 1, 8, 7, 0, 5, 6, , , , n, a, m, e, , :, , , w, o, m, a, n, , d, i, r, e, c, t, o, r, , }, , , {, , i, d, , :, , 2, 1, 4, 5, 4, 8, , , , n, a, m, e, , :, , , 1, 9, 3, 0, s, , }, ], tomhanks, halleberry, jimbroadbent, tomhanks, halleberry, jimbroadbent'

In [161]:
new_df['tags'][0]

'in, the, 22nd, century, a, paraplegic, marine, is, dispatched, to, the, moon, pandora, on, a, unique, mission, but, becomes, torn, between, following, orders, and, protecting, an, alien, civilization., action, adventure, fantasy, sciencefiction, [, {, , i, d, , :, , 1, 4, 6, 3, , , , n, a, m, e, , :, , , c, u, l, t, u, r, e, , c, l, a, s, h, , }, , , {, , i, d, , :, , 2, 9, 6, 4, , , , n, a, m, e, , :, , , f, u, t, u, r, e, , }, , , {, , i, d, , :, , 3, 3, 8, 6, , , , n, a, m, e, , :, , , s, p, a, c, e, , w, a, r, , }, , , {, , i, d, , :, , 3, 3, 8, 8, , , , n, a, m, e, , :, , , s, p, a, c, e, , c, o, l, o, n, y, , }, , , {, , i, d, , :, , 3, 6, 7, 9, , , , n, a, m, e, , :, , , s, o, c, i, e, t, y, , }, , , {, , i, d, , :, , 3, 8, 0, 1, , , , n, a, m, e, , :, , , s, p, a, c, e, , t, r, a, v, e, l, , }, , , {, , i, d, , :, , 9, 6, 8, 5, , , , n, a, m, e, , :, , , f, u, t, u, r, i, s, t, i, c, , }, , , {, , i, d, , :, , 9, 8, 4, 0, , , , n, a, m, e, , :, , , r, o, m, a, n, c, e, , }, , , {, , i, d, , :, , 9, 8, 8, 2, , , , n, a, m, e, , :, , , s, p, a, c, e, , }, , , {, , i, d, , :, , 9, 9, 5, 1, , , , n, a, m, e, , :, , , a, l, i, e, n, , }, , , {, , i, d, , :, , 1, 0, 1, 4, 8, , , , n, a, m, e, , :, , , t, r, i, b, e, , }, , , {, , i, d, , :, , 1, 0, 1, 5, 8, , , , n, a, m, e, , :, , , a, l, i, e, n, , p, l, a, n, e, t, , }, , , {, , i, d, , :, , 1, 0, 9, 8, 7, , , , n, a, m, e, , :, , , c, g, i, , }, , , {, , i, d, , :, , 1, 1, 3, 9, 9, , , , n, a, m, e, , :, , , m, a, r, i, n, e, , }, , , {, , i, d, , :, , 1, 3, 0, 6, 5, , , , n, a, m, e, , :, , , s, o, l, d, i, e, r, , }, , , {, , i, d, , :, , 1, 4, 6, 4, 3, , , , n, a, m, e, , :, , , b, a, t, t, l, e, , }, , , {, , i, d, , :, , 1, 4, 7, 2, 0, , , , n, a, m, e, , :, , , l, o, v, e, , a, f, f, a, i, r, , }, , , {, , i, d, , :, , 1, 6, 5, 4, 3, 1, , , , n, a, m, e, , :, , , a, n, t, i, , w, a, r, , }, , , {, , i, d, , :, , 1, 9, 3, 5, 5, 4, , , , n, a, m, e, , :, , , p, o, w, e, r, , r, e, l, a, t, i, o, n, s, , }, , , {, , i, d, , :, , 2, 0, 6, 6, 9, 0, , , , n, a, m, e, , :, , , m, i, n, d, , a, n, d, , s, o, u, l, , }, , , {, , i, d, , :, , 2, 0, 9, 7, 1, 4, , , , n, a, m, e, , :, , , 3, d, , }, ], samworthington, zoesaldana, sigourneyweaver, samworthington, zoesaldana, sigourneyweaver'

In [162]:
new_df['tags'] = new_df['tags'].str.replace(',', "", regex=False)

C:\Users\NEERAJ SINGH SAUN\AppData\Local\Temp\ipykernel_28272\500554164.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].str.replace(',', "", regex=False)

In [163]:
new_df['tags']

0       in the 22nd century a paraplegic marine is dis...
1       captain barbossa long believed to be dead has ...
2       a cryptic message from bond’s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary former military cap...
                              ...
4804    el mariachi just wants to play his guitar and ...
4805    a newlywed couple's honeymoon is upended by th...
4806    signed sealed delivered introduces a dedicated...
4807    when ambitious new york attorney sam is sent t...
4808    ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [164]:
new_df['tags']

0       in the 22nd century a paraplegic marine is dis...
1       captain barbossa long believed to be dead has ...
2       a cryptic message from bond’s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary former military cap...
                              ...
4804    el mariachi just wants to play his guitar and ...
4805    a newlywed couple's honeymoon is upended by th...
4806    signed sealed delivered introduces a dedicated...
4807    when ambitious new york attorney sam is sent t...
4808    ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [165]:
new_df['tags'][1]

"captain barbossa long believed to be dead has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action [ {  i d  :  2 7 0    n a m e  :   o c e a n  }   {  i d  :  7 2 6    n a m e  :   d r u g  a b u s e  }   {  i d  :  9 1 1    n a m e  :   e x o t i c  i s l a n d  }   {  i d  :  1 3 1 9    n a m e  :   e a s t  i n d i a  t r a d i n g  c o m p a n y  }   {  i d  :  2 0 3 8    n a m e  :   l o v e  o f  o n e ' s  l i f e  }   {  i d  :  2 0 5 2    n a m e  :   t r a i t o r  }   {  i d  :  2 5 8 0    n a m e  :   s h i p w r e c k  }   {  i d  :  2 6 6 0    n a m e  :   s t r o n g  w o m a n  }   {  i d  :  3 7 9 9    n a m e  :   s h i p  }   {  i d  :  5 7 4 0    n a m e  :   a l l i a n c e  }   {  i d  :  5 9 4 1    n a m e  :   c a l y p s o  }   {  i d  :  6 1 5 5    n a m e  :   a f t e r l i f e  }   {  i d  :  6 2 1 1    n a m e  :   f i g h t e r  }   {  i d  :  1 2 9 8 8    n a m e  :   p i r a t e  }   {  i d  :  1 5 7 1 8 6    n a m e  :   s w a s h b u c k l e r  }   {  i d  :  1 7 9 4 3 0    n a m e  :   a f t e r c r e d i t s s t i n g e r  } ] johnnydepp orlandobloom keiraknightley johnnydepp orlandobloom keiraknightley"

CONVERTING TEXT INTO NUMERIC FORM(VECTORIZATION) --(BAGS OF WORDS)

In [166]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000 , stop_words = 'english')

In [167]:
vectors = cv.fit_transform(new_df['tags'])

In [168]:
vectors.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(4806, 5000))

In [169]:
cv.get_feature_names_out()

array(['007', '10', '100', ..., 'zoo', 'zooeydeschanel', 'zoëkravitz'],
      shape=(5000,), dtype=object)

HERE WE DON'T WANT TO EXTRA REPETATION IN A DATA JUST REMOVE THE EXTRA

In [170]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

this is example--

In [171]:
ps.stem('loving')

'love'

NOW WE ARE USING STEM FUNCTION IN "TAGS" COLUMN

In [172]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [173]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\NEERAJ SINGH SAUN\AppData\Local\Temp\ipykernel_28272\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [174]:
new_df

,movie_id,title,tags
0,19995,Avatar,in the 22nd centuri a parapleg marin is dispat...
1,285,Pirates of the Caribbean: At World's End,captain barbossa long believ to be dead ha com...
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,john carter is a war-weari former militari cap...
...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4806,231617,"Signed, Sealed, Delivered",sign seal deliv introduc a dedic quartet of ci...
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [175]:
new_df['tags']

0       in the 22nd centuri a parapleg marin is dispat...
1       captain barbossa long believ to be dead ha com...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weari former militari cap...
                              ...
4804    el mariachi just want to play hi guitar and ca...
4805    a newlyw couple' honeymoon is upend by the arr...
4806    sign seal deliv introduc a dedic quartet of ci...
4807    when ambiti new york attorney sam is sent to s...
4808    ever sinc the second grade when he first saw h...
Name: tags, Length: 4806, dtype: object

NOW DISTANCE BETWEEN TWO VECTOR

In [176]:
from sklearn.metrics.pairwise import cosine_similarity

In [177]:
similarity = cosine_similarity(vectors)

In [178]:
similarity

array([[1.        , 0.10910895, 0.06681531, ..., 0.        , 0.        ,
        0.        ],
       [0.10910895, 1.        , 0.06804138, ..., 0.03081668, 0.        ,
        0.        ],
       [0.06681531, 0.06804138, 1.        , ..., 0.02830693, 0.        ,
        0.        ],
       ...,
       [0.        , 0.03081668, 0.02830693, ..., 1.        , 0.07692308,
        0.02500782],
       [0.        , 0.        , 0.        , ..., 0.07692308, 1.        ,
        0.05001563],
       [0.        , 0.        , 0.        , ..., 0.02500782, 0.05001563,
        1.        ]], shape=(4806, 4806))

In [179]:
similarity[0]

array([1.        , 0.10910895, 0.06681531, ..., 0.        , 0.        ,
       0.        ], shape=(4806,))

FOR SHORTING--

In [180]:
sorted(similarity[0], reverse = True)

[np.float64(0.9999999999999997),
 np.float64(0.2874944542499729),
 np.float64(0.2700308624336608),
 np.float64(0.2182178902359924),
 np.float64(0.21128856368212912),
 np.float64(0.20965696734438366),
 np.float64(0.2041241452319315),
 np.float64(0.20412414523193148),
 np.float64(0.20203050891044214),
 np.float64(0.2017366461964822),
 np.float64(0.2017366461964822),
 np.float64(0.1935735673983309),
 np.float64(0.1889822365046136),
 np.float64(0.1889822365046136),
 np.float64(0.18333969940564224),
 np.float64(0.1752191610126156),
 np.float64(0.17370208344491278),
 np.float64(0.17342199390482396),
 np.float64(0.17291712531127046),
 np.float64(0.17251638983558854),
 np.float64(0.16971105832553265),
 np.float64(0.16971105832553265),
 np.float64(0.16971105832553265),
 np.float64(0.1690308509457033),
 np.float64(0.16718346377260584),
 np.float64(0.1636634176769943),
 np.float64(0.1636634176769943),
 np.float64(0.16116459280507603),
 np.float64(0.1603567451474546),
 np.float64(0.15971914124998493),
 np.float64(0.15724272550828775),
 np.float64(0.15699645640568982),
 np.float64(0.1569964564056898),
 np.float64(0.1543033499620919),
 np.float64(0.1543033499620919),
 np.float64(0.1543033499620919),
 np.float64(0.15328483487124145),
 np.float64(0.1513068831672006),
 np.float64(0.1513068831672006),
 np.float64(0.15118578920369088),
 np.float64(0.15118578920369088),
 np.float64(0.15018785229652765),
 np.float64(0.14824986333222023),
 np.float64(0.14824986333222023),
 np.float64(0.14762034939153687),
 np.float64(0.1475703340252388),
 np.float64(0.1475703340252388),
 np.float64(0.14580296087995107),
 np.float64(0.14580296087995107),
 np.float64(0.14580296087995107),
 np.float64(0.14547859349066158),
 np.float64(0.14547859349066158),
 np.float64(0.14547859349066158),
 np.float64(0.14547859349066158),
 np.float64(0.14547859349066158),
 np.float64(0.14409760442605873),
 np.float64(0.14285714285714282),
 np.float64(0.14285714285714282),
 np.float64(0.14285714285714282),
 np.float64(0.14285714285714282),
 np.float64(0.14173667737846019),
 np.float64(0.14085904245475275),
 np.float64(0.14037248126871926),
 np.float64(0.13801311186847082),
 np.float64(0.13801311186847082),
 np.float64(0.13801311186847082),
 np.float64(0.13801311186847082),
 np.float64(0.13801311186847082),
 np.float64(0.13801311186847082),
 np.float64(0.13782946160499282),
 np.float64(0.13782946160499282),
 np.float64(0.13750477455423168),
 np.float64(0.13638618139749525),
 np.float64(0.13576884666042613),
 np.float64(0.13576884666042613),
 np.float64(0.1349873117890097),
 np.float64(0.1336306209562122),
 np.float64(0.13363062095621217),
 np.float64(0.13363062095621217),
 np.float64(0.13363062095621217),
 np.float64(0.13363062095621217),
 np.float64(0.13363062095621217),
 np.float64(0.13363062095621217),
 np.float64(0.13231403100624076),
 np.float64(0.1315903389919538),
 np.float64(0.1315903389919538),
 np.float64(0.1315903389919538),
 np.float64(0.1315903389919538),
 np.float64(0.1315903389919538),
 np.float64(0.13006649542861798),
 np.float64(0.13006649542861798),
 np.float64(0.12964074471043285),
 np.float64(0.12964074471043285),
 np.float64(0.12858612496840993),
 np.float64(0.12777531299998796),
 np.float64(0.12777531299998796),
 np.float64(0.1274117978594064),
 np.float64(0.1267731382092775),
 np.float64(0.1267731382092775),
 np.float64(0.1267731382092775),
 np.float64(0.1267731382092775),
 np.float64(0.1267731382092775),
 np.float64(0.12626906806902632),
 np.float64(0.1259881576697424),
 np.float64(0.1259881576697424),
 np.float64(0.12427395320024),
 np.float64(0.12427395320024),
 np.float64(0.12427395320024),
 np.float64(0.12427395320024),
 np.float64(0.12407291674636627),
 np.float64(0.12371791482634838),
 np.float64(0.12371791482634838),
 np.float64(0.12371791482634838),
 np.float64(0.12371791482634838),
 np.float64(0.12371791482634838),
 np.float64(0.12371791482634838),
 np.float64(0.12298800925361816),
 np.float64(0.12262786789699316),
 np.float64(0.12262786789699316),
 np.float64(0.12262786789699315),
 np.float64(0.12198750911856662),
 np.float64(0.12198750911856662),
 np.float64(0.12104550653376048),
 np.float64(0.12104550653376048),
 np.float64(0.12087344460380703),
 np.float64(0.12087344460380703),
 np.float64(0.12087344460380703),
 np.float64(0.11952286093343936),
 np.float64(0.11952286093343936),
 np.float64(0.11821656093586509),
 np.float64(0.11821656093586509),
 np.float64(0.11821656093586509),
 np.float64(0.11821656093586509),
 np.float64(0.11821656093586509),
 np.float64(0.11805626722019105),
 np.float64(0.11805626722019105),
 np.float64(0.11805626722019105),
 np.float64(0.11805626722019105),
 np.float64(0.11664236870396086),
 np.float64(0.11572751247156893),
 np.float64(0.11572751247156893),
 np.float64(0.11572751247156893),
 np.float64(0.11572751247156893),
 np.float64(0.11572751247156893),
 np.float64(0.11527808354084698),
 np.float64(0.11396057645963795),
 np.float64(0.11396057645963795),
 np.float64(0.11396057645963795),
 np.float64(0.11396057645963795),
 np.float64(0.11396057645963795),
 np.float64(0.11338934190276817),
 np.float64(0.11338934190276817),
 np.float64(0.11338934190276817),
 np.float64(0.11338934190276817),
 np.float64(0.11338934190276817),
 np.float64(0.11338934190276817),
 np.float64(0.11338934190276817),
 np.float64(0.11338934190276817),
 np.float64(0.11338934190276817),
 np.float64(0.1126872339638022),
 np.float64(0.11145564251507056),
 np.float64(0.11145564251507056),
 np.float64(0.11118739749916517),
 np.float64(0.11118739749916517),
 np.float64(0.11118739749916517),
 np.float64(0.11118739749916517),
 np.float64(0.11118739749916517),
 np.float64(0.11118739749916517),
 np.float64(0.11118739749916517),
 np.float64(0.11118739749916517),
 np.float64(0.11118739749916517),
 np.float64(0.11118739749916517),
 np.float64(0.11118739749916517),
 np.float64(0.11026356928399425),
 np.float64(0.1091089451179962),
 np.float64(0.1091089451179962),
 np.float64(0.1091089451179962),
 np.float64(0.1091089451179962),
 np.float64(0.1091089451179962),
 np.float64(0.10910894511799618),
 np.float64(0.10910894511799618),
 np.float64(0.10910894511799618),
 np.float64(0.10910894511799618),
 np.float64(0.10910894511799618),
 np.float64(0.10910894511799618),
 np.float64(0.10910894511799618),
 np.float64(0.10798984943120776),
 np.float64(0.10798984943120776),
 np.float64(0.10714285714285712),
 np.float64(0.10714285714285712),
 np.float64(0.10714285714285712),
 np.float64(0.10714285714285712),
 np.float64(0.10714285714285712),
 np.float64(0.10714285714285712),
 np.float64(0.10714285714285712),
 np.float64(0.10690449676496974),
 np.float64(0.10527936095153945),
 np.float64(0.10527936095153945),
 np.float64(0.10527936095153945),
 np.float64(0.10527936095153945),
 np.float64(0.10527936095153945),
 np.float64(0.10527936095153945),
 np.float64(0.10482848367219183),
 np.float64(0.10482848367219183),
 np.float64(0.10482848367219183),
 np.float64(0.10482848367219183),
 np.float64(0.10383482633023301),
 np.float64(0.10350983390135311),
 np.float64(0.10350983390135311),
 np.float64(0.10350983390135311),
 np.float64(0.10350983390135311),
 np.float64(0.10350983390135311),
 np.float64(0.10350983390135311),
 np.float64(0.10350983390135311),
 np.float64(0.10286889997472794),
 np.float64(0.10286889997472794),
 np.float64(0.10192943828752511),
 np.float64(0.1018266349953196),
 np.float64(0.1018266349953196),
 np.float64(0.1018266349953196),
 np.float64(0.1018266349953196),
 np.float64(0.1018266349953196),
 np.float64(0.1018266349953196),
 np.float64(0.1018266349953196),
 np.float64(0.1018266349953196),
 np.float64(0.10101525445522107),
 np.float64(0.10101525445522107),
 np.float64(0.10101525445522107),
 np.float64(0.10101525445522107),
 np.float64(0.10022296571715913),
 np.float64(0.10022296571715913),
 np.float64(0.10022296571715913),
 np.float64(0.10022296571715913),
 np.float64(0.10022296571715913),
 np.float64(0.10012523486435176),
 np.float64(0.09869275424396534),
 np.float64(0.09869275424396534),
 np.float64(0.09869275424396534),
 np.float64(0.09869275424396534),
 np.float64(0.09869275424396534),
 np.float64(0.09869275424396534),
 np.float64(0.09869275424396534),
 np.float64(0.09869275424396534),
 np.float64(0.0975900072948533),
 np.float64(0.0975900072948533),
 np.float64(0.0975900072948533),
 np.float64(0.0975900072948533),
 np.float64(0.09723055853282464),
 np.float64(0.09723055853282464),
 np.float64(0.09723055853282464),
 np.float64(0.09723055853282464),
 np.float64(0.09723055853282464),
 np.float64(0.09678678369916545),
 np.float64(0.09678678369916545),
 np.float64(0.09600307214746386),
 np.float64(0.09583148474999097),
 np.float64(0.09583148474999097),
 np.float64(0.09583148474999097),
 np.float64(0.09583148474999097),
 np.float64(0.09583148474999097),
 np.float64(0.09583148474999097),
 np.float64(0.09523809523809522),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.09320546490018),
 np.float64(0.09320546490018),
 np.float64(0.09320546490018),
 np.float64(0.09320546490018),
 np.float64(0.09304842103984708),
 np.float64(0.09197090092274487),
 np.float64(0.09197090092274487),
 np.float64(0.09197090092274487),
 np.float64(0.09197090092274487),
 np.float64(0.09197090092274487),
 np.float64(0.09197090092274487),
 np.float64(0.09197090092274487),
 np.float64(0.09197090092274487),
 np.float64(0.09197090092274487),
 np.float64(0.09197090092274487),
 np.float64(0.09197090092274487),
 np.float64(0.09197090092274487),
 np.float64(0.09197090092274487),
 np.float64(0.09166984970282112),
 np.float64(0.09166984970282112),
 np.float64(0.09100315103865801),
 np.float64(0.09078412990032037),
 np.float64(0.09078412990032037),
 np.float64(0.09078412990032037),
 np.float64(0.09078412990032037),
 np.float64(0.09078412990032037),
 np.float64(0.09078412990032037),
 np.float64(0.09078412990032037),
 np.float64(0.09078412990032037),
 np.float64(0.09078412990032037),
 np.float64(0.08971226080325131),
 np.float64(0.08964214570007953),
 np.float64(0.08964214570007953),
 np.float64(0.08964214570007953),
 np.float64(0.08964214570007953),
 np.float64(0.08964214570007953),
 np.float64(0.08964214570007953),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.0885422004151433),
 np.float64(0.0885422004151433),
 np.float64(0.0885422004151433),
 np.float64(0.0885422004151433),
 np.float64(0.0885422004151433),
 np.float64(0.0885422004151433),
 np.float64(0.0885422004151433),
 np.float64(0.08748177652797065),
 np.float64(0.08748177652797065),
 np.float64(0.08748177652797065),
 np.float64(0.08748177652797065),
 np.float64(0.08748177652797065),
 np.float64(0.08748177652797065),
 np.float64(0.08748177652797065),
 np.float64(0.08671099695241198),
 np.float64(0.08671099695241198),
 np.float64(0.08671099695241198),
 np.float64(0.08671099695241198),
 np.float64(0.08671099695241198),
 np.float64(0.08671099695241198),
 np.float64(0.08671099695241198),
 np.float64(0.08671099695241198),
 np.float64(0.08671099695241198),
 np.float64(0.08671099695241198),
 np.float64(0.08671099695241198),
 np.float64(0.08645856265563523),
 np.float64(0.08645856265563523),
 np.float64(0.08645856265563523),
 np.float64(0.08645856265563523),
 np.float64(0.08645856265563523),
 np.float64(0.08645856265563523),
 np.float64(0.08645856265563523),
 np.float64(0.08645856265563523),
 np.float64(0.08645856265563523),
 np.float64(0.08547043234472845),
 np.float64(0.08547043234472845),
 np.float64(0.08547043234472845),
 np.float64(0.08547043234472845),
 np.float64(0.08547043234472845),
 np.float64(0.08547043234472845),
 np.float64(0.08547043234472845),
 np.float64(0.08547043234472845),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08359173188630292),
 np.float64(0.08359173188630292),
 np.float64(0.08359173188630292),
 np.float64(0.08359173188630292),
 np.float64(0.08269767696299568),
 np.float64(0.08269767696299568),
 np.float64(0.08269767696299568),
 np.float64(0.08269767696299568),
 np.float64(0.08269767696299568),
 np.float64(0.08269767696299568),
 np.float64(0.08269767696299568),
 np.float64(0.08269767696299568),
 np.float64(0.08247860988423225),
 np.float64(0.08247860988423225),
 np.float64(0.08247860988423225),
 np.float64(0.08247860988423225),
 np.float64(0.08247860988423225),
 np.float64(0.08247860988423225),
 np.float64(0.08247860988423225),
 np.float64(0.08247860988423225),
 np.float64(0.08247860988423225),
 np.float64(0.08247860988423225),
 np.float64(0.08247860988423225),
 np.float64(0.08183170883849715),
 np.float64(0.08183170883849715),
 np.float64(0.08183170883849715),
 np.float64(0.08099238707340582),
 np.float64(0.08099238707340582),
 np.float64(0.08099238707340582),
 np.float64(0.08099238707340582),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08058229640253801),
 np.float64(0.08017837257372731),
 np.float64(0.08017837257372731),
 np.float64(0.08017837257372731),
 np.float64(0.08017837257372731),
 np.float64(0.08017837257372731),
 np.float64(0.08017837257372731),
 np.float64(0.07938841860374446),
 np.float64(0.07938841860374446),
 np.float64(0.07881104062391006),
 np.float64(0.07881104062391006),
 np.float64(0.07881104062391006),
 np.float64(0.07881104062391006),
 np.float64(0.07881104062391006),
 np.float64(0.07881104062391006),
 np.float64(0.07881104062391006),
 np.float64(0.07881104062391006),
 np.float64(0.07881104062391006),
 np.float64(0.07881104062391006),
 np.float64(0.07881104062391006),
 np.float64(0.07881104062391006),
 np.float64(0.07881104062391006),
 np.float64(0.07881104062391006),
 np.float64(0.07862136275414387),
 np.float64(0.07862136275414387),
 np.float64(0.07862136275414387),
 np.float64(0.07862136275414387),
 np.float64(0.07787611974767476),
 np.float64(0.07787611974767476),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07715167498104596),
 np.float64(0.07675295564533363),
 np.float64(0.07644707871564384),
 np.float64(0.07644707871564384),
 np.float64(0.07644707871564384),
 np.float64(0.07644707871564384),
 np.float64(0.07644707871564384),
 np.float64(0.0757614408414158),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07559289460184544),
 np.float64(0.07509392614826382),
 np.float64(0.07509392614826382),
 np.float64(0.07509392614826382),
 np.float64(0.07444375004781977),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07412493166611012),
 np.float64(0.07381017469576844),
 np.float64(0.07381017469576844),
 np.float64(0.07381017469576844),
 np.float64(0.07381017469576844),
 np.float64(0.07319250547113998),
 np.float64(0.07319250547113998),
 np.float64(0.07273929674533079),
 np.float64(0.07273929674533079),
 np.float64(0.07273929674533079),
 np.float64(0.07273929674533079),
 np.float64(0.07273929674533079),
 np.float64(0.07273929674533079),
 np.float64(0.07273929674533079),
 np.float64(0.07273929674533079),
 np.float64(0.07273929674533079),
 np.float64(0.07273929674533079),
 np.float64(0.07273929674533079),
 np.float64(0.07273929674533079),
 np.float64(0.07273929674533079),
 np.float64(0.07273929674533079),
 np.float64(0.07273929674533079),
 np.float64(0.07273929674533079),
 np.float64(0.07259008777437409),
 np.float64(0.07259008777437409),
 np.float64(0.07259008777437409),
 np.float64(0.07240486142559964),
 np.float64(0.0720023041105979),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07142857142857141),
 np.float64(0.07086833868923009),
 np.float64(0.07032108464077431),
 np.float64(0.07032108464077431),
 np.float64(0.07018624063435963),
 np.float64(0.07018624063435963),
 np.float64(0.07018624063435963),
 np.float64(0.07018624063435963),
 np.float64(0.07018624063435963),
 np.float64(0.07018624063435963),
 np.float64(0.07018624063435963),
 np.float64(0.07018624063435963),

NOW WE ARE LOOSING INDEXING OF VECTORS NOW IT'S FIX FROM 'ENUMERATE' FUNCTION

In [181]:
list(enumerate(similarity[0]))

[(0, np.float64(0.9999999999999997)),
 (1, np.float64(0.10910894511799618)),
 (2, np.float64(0.06681531047810609)),
 (3, np.float64(0.04761904761904761)),
 (4, np.float64(0.09320546490018)),
 (5, np.float64(0.11664236870396086)),
 (6, np.float64(0.02727723627949905)),
 (7, np.float64(0.16718346377260584)),
 (8, np.float64(0.0657951694959769)),
 (9, np.float64(0.08748177652797065)),
 (10, np.float64(0.13576884666042613)),
 (11, np.float64(0.0885422004151433)),
 (12, np.float64(0.11338934190276817)),
 (13, np.float64(0.0563436169819011)),
 (14, np.float64(0.1259881576697424)),
 (15, np.float64(0.06482037235521643)),
 (16, np.float64(0.09078412990032037)),
 (17, np.float64(0.10482848367219183)),
 (18, np.float64(0.04761904761904761)),
 (19, np.float64(0.09197090092274487)),
 (20, np.float64(0.06460957383809221)),
 (21, np.float64(0.0629940788348712)),
 (22, np.float64(0.08058229640253801)),
 (23, np.float64(0.11338934190276817)),
 (24, np.float64(0.06482037235521643)),
 (25, np.float64(0.0)),
 (26, np.float64(0.1315903389919538)),
 (27, np.float64(0.12858612496840993)),
 (28, np.float64(0.11118739749916517)),
 (29, np.float64(0.07644707871564384)),
 (30, np.float64(0.08451542547285165)),
 (31, np.float64(0.15118578920369088)),
 (32, np.float64(0.051917413165116506)),
 (33, np.float64(0.11118739749916517)),
 (34, np.float64(0.0)),
 (35, np.float64(0.11821656093586509)),
 (36, np.float64(0.15328483487124145)),
 (37, np.float64(0.0657951694959769)),
 (38, np.float64(0.06776309271789384)),
 (39, np.float64(0.08964214570007953)),
 (40, np.float64(0.06482037235521643)),
 (41, np.float64(0.08099238707340582)),
 (42, np.float64(0.0)),
 (43, np.float64(0.2041241452319315)),
 (44, np.float64(0.0445435403187374)),
 (45, np.float64(0.10383482633023301)),
 (46, np.float64(0.13363062095621217)),
 (47, np.float64(0.1935735673983309)),
 (48, np.float64(0.048393391849582724)),
 (49, np.float64(0.0)),
 (50, np.float64(0.09197090092274487)),
 (51, np.float64(0.06875238727711584)),
 (52, np.float64(0.10022296571715913)),
 (53, np.float64(0.059028133610095526)),
 (54, np.float64(0.0472455591261534)),
 (55, np.float64(0.07032108464077431)),
 (56, np.float64(0.10714285714285712)),
 (57, np.float64(0.0)),
 (58, np.float64(0.04920678313051229)),
 (59, np.float64(0.06776309271789384)),
 (60, np.float64(0.0)),
 (61, np.float64(0.14547859349066158)),
 (62, np.float64(0.07881104062391006)),
 (63, np.float64(0.0657951694959769)),
 (64, np.float64(0.03857583749052298)),
 (65, np.float64(0.025717224993681984)),
 (66, np.float64(0.029514066805047763)),
 (67, np.float64(0.08964214570007953)),
 (68, np.float64(0.14547859349066158)),
 (69, np.float64(0.03984095364447979)),
 (70, np.float64(0.08547043234472845)),
 (71, np.float64(0.08269767696299568)),
 (72, np.float64(0.1315903389919538)),
 (73, np.float64(0.04335549847620599)),
 (74, np.float64(0.11805626722019105)),
 (75, np.float64(0.07273929674533079)),
 (76, np.float64(0.08964214570007953)),
 (77, np.float64(0.0)),
 (78, np.float64(0.07142857142857141)),
 (79, np.float64(0.0885422004151433)),
 (80, np.float64(0.041239304942116126)),
 (81, np.float64(0.06419407387663692)),
 (82, np.float64(0.06681531047810609)),
 (83, np.float64(0.1603567451474546)),
 (84, np.float64(0.12198750911856662)),
 (85, np.float64(0.05816750507471109)),
 (86, np.float64(0.059028133610095526)),
 (87, np.float64(0.09869275424396534)),
 (88, np.float64(0.08451542547285165)),
 (89, np.float64(0.034503277967117704)),
 (90, np.float64(0.07881104062391006)),
 (91, np.float64(0.12427395320024)),
 (92, np.float64(0.0629940788348712)),
 (93, np.float64(0.05572782125753528)),
 (94, np.float64(0.2700308624336608)),
 (95, np.float64(0.06900655593423541)),
 (96, np.float64(0.09197090092274487)),
 (97, np.float64(0.09197090092274487)),
 (98, np.float64(0.11338934190276817)),
 (99, np.float64(0.03394221166510653)),
 (100, np.float64(0.03779644730092272)),
 (101, np.float64(0.09583148474999097)),
 (102, np.float64(0.0944911182523068)),
 (103, np.float64(0.07938841860374446)),
 (104, np.float64(0.07018624063435963)),
 (105, np.float64(0.07559289460184544)),
 (106, np.float64(0.0563436169819011)),
 (107, np.float64(0.10690449676496974)),
 (108, np.float64(0.0885422004151433)),
 (109, np.float64(0.0975900072948533)),
 (110, np.float64(0.0)),
 (111, np.float64(0.0944911182523068)),
 (112, np.float64(0.0657951694959769)),
 (113, np.float64(0.06052275326688024)),
 (114, np.float64(0.06131393394849658)),
 (115, np.float64(0.06482037235521643)),
 (116, np.float64(0.06052275326688024)),
 (117, np.float64(0.07559289460184544)),
 (118, np.float64(0.0236227795630767)),
 (119, np.float64(0.0314970394174356)),
 (120, np.float64(0.0)),
 (121, np.float64(0.0944911182523068)),
 (122, np.float64(0.10714285714285712)),
 (123, np.float64(0.09869275424396534)),
 (124, np.float64(0.0563436169819011)),
 (125, np.float64(0.053812200250063134)),
 (126, np.float64(0.09869275424396534)),
 (127, np.float64(0.1336306209562122)),
 (128, np.float64(0.0)),
 (129, np.float64(0.09197090092274487)),
 (130, np.float64(0.03340765523905304)),
 (131, np.float64(0.11805626722019105)),
 (132, np.float64(0.14085904245475275)),
 (133, np.float64(0.036369648372665396)),
 (134, np.float64(0.12087344460380703)),
 (135, np.float64(0.0)),
 (136, np.float64(0.028819520885211745)),
 (137, np.float64(0.018804435361115035)),
 (138, np.float64(0.1267731382092775)),
 (139, np.float64(0.11527808354084698)),
 (140, np.float64(0.05572782125753528)),
 (141, np.float64(0.0445435403187374)),
 (142, np.float64(0.06788442333021306)),
 (143, np.float64(0.07787611974767476)),
 (144, np.float64(0.07881104062391006)),
 (145, np.float64(0.02699746235780194)),
 (146, np.float64(0.0)),
 (147, np.float64(0.06131393394849658)),
 (148, np.float64(0.11338934190276817)),
 (149, np.float64(0.13782946160499282)),
 (150, np.float64(0.14762034939153687)),
 (151, np.float64(0.17342199390482396)),
 (152, np.float64(0.07018624063435963)),
 (153, np.float64(0.07142857142857141)),
 (154, np.float64(0.03394221166510653)),
 (155, np.float64(0.0)),
 (156, np.float64(0.03194382824999699)),
 (157, np.float64(0.07559289460184544)),
 (158, np.float64(0.1126872339638022)),
 (159, np.float64(0.07715167498104596)),
 (160, np.float64(0.0668153104781061)),
 (161, np.float64(0.0472455591261534)),
 (162, np.float64(0.036369648372665396)),
 (163, np.float64(0.059028133610095526)),
 (164, np.float64(0.09197090092274487)),
 (165, np.float64(0.07142857142857141)),
 (166, np.float64(0.11572751247156893)),
 (167, np.float64(0.06482037235521643)),
 (168, np.float64(0.10798984943120776)),
 (169, np.float64(0.08645856265563523)),
 (170, np.float64(0.08183170883849715)),
 (171, np.float64(0.03065696697424829)),
 (172, np.float64(0.07715167498104596)),
 (173, np.float64(0.0)),
 (174, np.float64(0.12777531299998796)),
 (175, np.float64(0.0657951694959769)),
 (176, np.float64(0.04335549847620599)),
 (177, np.float64(0.0)),
 (178, np.float64(0.029514066805047763)),
 (179, np.float64(0.04583492485141056)),
 (180, np.float64(0.028490144114909487)),
 (181, np.float64(0.03065696697424829)),
 (182, np.float64(0.09197090092274487)),
 (183, np.float64(0.07509392614826382)),
 (184, np.float64(0.09078412990032037)),
 (185, np.float64(0.0657951694959769)),
 (186, np.float64(0.051917413165116506)),
 (187, np.float64(0.12104550653376048)),
 (188, np.float64(0.027565892320998563)),
 (189, np.float64(0.04029114820126901)),
 (190, np.float64(0.04761904761904761)),
 (191, np.float64(0.06131393394849658)),
 (192, np.float64(0.0)),
 (193, np.float64(0.07319250547113998)),
 (194, np.float64(0.0)),
 (195, np.float64(0.06788442333021306)),
 (196, np.float64(0.07018624063435963)),
 (197, np.float64(0.0545544725589981)),
 (198, np.float64(0.0657951694959769)),
 (199, np.float64(0.1513068831672006)),
 (200, np.float64(0.08671099695241198)),
 (201, np.float64(0.0)),
 (202, np.float64(0.036369648372665396)),
 (203, np.float64(0.09723055853282464)),
 (204, np.float64(0.0314970394174356)),
 (205, np.float64(0.08058229640253801)),
 (206, np.float64(0.20203050891044214)),
 (207, np.float64(0.10350983390135311)),
 (208, np.float64(0.15724272550828775)),
 (209, np.float64(0.036369648372665396)),
 (210, np.float64(0.059028133610095526)),
 (211, np.float64(0.03026137663344012)),
 (212, np.float64(0.09197090092274487)),
 (213, np.float64(0.08547043234472845)),
 (214, np.float64(0.028819520885211745)),
 (215, np.float64(0.08964214570007953)),
 (216, np.float64(0.0890870806374748)),
 (217, np.float64(0.04962916669854651)),
 (218, np.float64(0.04335549847620599)),
 (219, np.float64(0.06681531047810609)),
 (220, np.float64(0.06900655593423541)),
 (221, np.float64(0.02699746235780194)),
 (222, np.float64(0.07032108464077431)),
 (223, np.float64(0.05763904177042349)),
 (224, np.float64(0.04761904761904761)),
 (225, np.float64(0.06131393394849658)),
 (226, np.float64(0.0)),
 (227, np.float64(0.07018624063435963)),
 (228, np.float64(0.10798984943120776)),
 (229, np.float64(0.06223048602337666)),
 (230, np.float64(0.09304842103984708)),
 (231, np.float64(0.0)),
 (232, np.float64(0.13801311186847082)),
 (233, np.float64(0.10910894511799618)),
 (234, np.float64(0.08099238707340582)),
 (235, np.float64(0.07018624063435963)),
 (236, np.float64(0.07142857142857141)),
 (237, np.float64(0.06900655593423541)),
 (238, np.float64(0.09678678369916545)),
 (239, np.float64(0.04800153607373193)),
 (240, np.float64(0.0657951694959769)),
 (241, np.float64(0.0944911182523068)),
 (242, np.float64(0.09320546490018)),
 (243, np.float64(0.09197090092274487)),
 (244, np.float64(0.034503277967117704)),
 (245, np.float64(0.06900655593423541)),
 (246, np.float64(0.02727723627949905)),
 (247, np.float64(0.0)),
 (248, np.float64(0.0545544725589981)),
 (249, np.float64(0.08058229640253801)),
 (250, np.float64(0.0)),
 (251, np.float64(0.0)),
 (252, np.float64(0.02817180849095055)),
 (253, np.float64(0.048393391849582724)),
 (254, np.float64(0.06388765649999398)),
 (255, np.float64(0.0)),
 (256, np.float64(0.0890870806374748)),
 (257, np.float64(0.07018624063435963)),
 (258, np.float64(0.024397501823713325)),
 (259, np.float64(0.07018624063435963)),
 (260, np.float64(0.11118739749916517)),
 (261, np.float64(0.03289758474798845)),
 (262, np.float64(0.09078412990032037)),
 (263, np.float64(0.11118739749916517)),
 (264, np.float64(0.0)),
 (265, np.float64(0.035093120317179816)),
 (266, np.float64(0.07881104062391006)),
 (267, np.float64(0.07412493166611012)),
 (268, np.float64(0.029160592175990215)),
 (269, np.float64(0.0)),
 (270, np.float64(0.0944911182523068)),
 (271, np.float64(0.0885422004151433)),
 (272, np.float64(0.0)),
 (273, np.float64(0.02727723627949905)),
 (274, np.float64(0.038376477822666816)),
 (275, np.float64(0.10714285714285712)),
 (276, np.float64(0.07412493166611012)),
 (277, np.float64(0.08099238707340582)),
 (278, np.float64(0.0885422004151433)),
 (279, np.float64(0.0563436169819011)),
 (280, np.float64(0.0)),
 (281, np.float64(0.05763904177042349)),
 (282, np.float64(0.03241018617760821)),
 (283, np.float64(0.0)),
 (284, np.float64(0.0)),
 (285, np.float64(0.024397501823713325)),
 (286, np.float64(0.02727723627949905)),
 (287, np.float64(0.0)),
 (288, np.float64(0.0)),
 (289, np.float64(0.0563436169819011)),
 (290, np.float64(0.06900655593423541)),
 (291, np.float64(0.0657951694959769)),
 (292, np.float64(0.11118739749916517)),
 (293, np.float64(0.03857583749052298)),
 (294, np.float64(0.06131393394849658)),
 (295, np.float64(0.03106848830006)),
 (296, np.float64(0.052925612402496304)),
 (297, np.float64(0.02817180849095055)),
 (298, np.float64(0.0)),
 (299, np.float64(0.050507627227610534)),
 (300, np.float64(0.10022296571715913)),
 (301, np.float64(0.07142857142857141)),
 (302, np.float64(0.06788442333021306)),
 (303, np.float64(0.03065696697424829)),
 (304, np.float64(0.03898405877927252)),
 (305, np.float64(0.08748177652797065)),
 (306, np.float64(0.0629940788348712)),
 (307, np.float64(0.07675295564533363)),
 (308, np.float64(0.03779644730092272)),
 (309, np.float64(0.08671099695241198)),
 (310, np.float64(0.04517539514526256)),
 (311, np.float64(0.11952286093343936)),
 (312, np.float64(0.11145564251507056)),
 (313, np.float64(0.0472455591261534)),
 (314, np.float64(0.0)),
 (315, np.float64(0.09197090092274487)),
 (316, np.float64(0.0)),
 (317, np.float64(0.0)),
 (318, np.float64(0.0)),
 (319, np.float64(0.07142857142857141)),
 (320, np.float64(0.034503277967117704)),
 (321, np.float64(0.0)),
 (322, np.float64(0.14285714285714282)),
 (323, np.float64(0.0)),
 (324, np.float64(0.029160592175990215)),
 (325, np.float64(0.07142857142857141)),
 (326, np.float64(0.035714285714285705)),
 (327, np.float64(0.03340765523905304)),
 (328, np.float64(0.0)),
 (329, np.float64(0.1018266349953196)),
 (330, np.float64(0.11338934190276817)),
 (331, np.float64(0.05399492471560388)),
 (332, np.float64(0.09869275424396534)),
 (333, np.float64(0.03394221166510653)),
 (334, np.float64(0.08359173188630292)),
 (335, np.float64(0.0657951694959769)),
 (336, np.float64(0.07142857142857141)),
 (337, np.float64(0.029160592175990215)),
 (338, np.float64(0.0)),
 (339, np.float64(0.05976143046671968)),
 (340, np.float64(0.06213697660012)),
 (341, np.float64(0.0657951694959769)),
 (342, np.float64(0.08971226080325131)),
 (343, np.float64(0.02503130871608794)),
 (344, np.float64(0.0314970394174356)),
 (345, np.float64(0.024603391565256146)),
 (346, np.float64(0.0)),
 (347, np.float64(0.0)),
 (348, np.float64(0.03394221166510653)),
 (349, np.float64(0.10910894511799618)),
 (350, np.float64(0.0563436169819011)),
 (351, np.float64(0.0)),
 (352, np.float64(0.03065696697424829)),
 (353, np.float64(0.026726124191242435)),
 (354, np.float64(0.0)),
 (355, np.float64(0.048393391849582724)),
 (356, np.float64(0.06900655593423541)),
 (357, np.float64(0.0)),
 (358, np.float64(0.07412493166611012)),
 (359, np.float64(0.036369648372665396)),
 (360, np.float64(0.0)),
 (361, np.float64(0.03340765523905304)),
 (362, np.float64(0.07018624063435963)),
 (363, np.float64(0.051917413165116506)),
 (364, np.float64(0.02988071523335984)),
 (365, np.float64(0.06213697660012)),
 (366, np.float64(0.05976143046671968)),
 (367, np.float64(0.0)),
 (368, np.float64(0.07018624063435963)),
 (369, np.float64(0.10527936095153945)),
 (370, np.float64(0.0657951694959769)),
 (371, np.float64(0.08359173188630292)),
 (372, np.float64(0.05832118435198043)),
 (373, np.float64(0.07881104062391006)),
 (374, np.float64(0.04920678313051229)),
 (375, np.float64(0.024397501823713325)),
 (376, np.float64(0.05763904177042349)),
 (377, np.float64(0.0)),
 (378, np.float64(0.0)),
 (379, np.float64(0.057564716734000224)),
 (380, np.float64(0.0)),
 (381, np.float64(0.07715167498104596)),
 (382, np.float64(0.0)),
 (383, np.float64(0.06052275326688024)),
 (384, np.float64(0.03340765523905304)),
 (385, np.float64(0.0)),
 (386, np.float64(0.02817180849095055)),
 (387, np.float64(0.03241018617760821)),
 (388, np.float64(0.0)),
 (389, np.float64(0.06788442333021306)),
 (390, np.float64(0.03241018617760821)),
 (391, np.float64(0.024196695924791362)),
 (392, np.float64(0.03241018617760821)),
 (393, np.float64(0.0)),
 (394, np.float64(0.02988071523335984)),
 (395, np.float64(0.0)),
 (396, np.float64(0.03026137663344012)),
 (397, np.float64(0.0)),
 (398, np.float64(0.0)),
 (399, np.float64(0.029514066805047763)),
 (400, np.float64(0.11118739749916517)),
 (401, np.float64(0.0)),
 (402, np.float64(0.06788442333021306)),
 (403, np.float64(0.1274117978594064)),
 (404, np.float64(0.03706246583305506)),
 (405, np.float64(0.03706246583305506)),
 (406, np.float64(0.024814583349273254)),
 (407, np.float64(0.024196695924791362)),
 (408, np.float64(0.03940552031195503)),
 (409, np.float64(0.0)),
 (410, np.float64(0.08359173188630292)),
 (411, np.float64(0.05698028822981897)),
 (412, np.float64(0.10286889997472794)),
 (413, np.float64(0.08547043234472845)),
 (414, np.float64(0.03106848830006)),
 (415, np.float64(0.04761904761904761)),
 (416, np.float64(0.03340765523905304)),
 (417, np.float64(0.052414241836095915)),
 (418, np.float64(0.0)),
 (419, np.float64(0.08017837257372731)),
 (420, np.float64(0.13638618139749525)),
 (421, np.float64(0.0)),
 (422, np.float64(0.08671099695241198)),
 (423, np.float64(0.0314970394174356)),
 (424, np.float64(0.050507627227610534)),
 (425, np.float64(0.06388765649999398)),
 (426, np.float64(0.0668153104781061)),
 (427, np.float64(0.03026137663344012)),
 (428, np.float64(0.04583492485141056)),
 (429, np.float64(0.0)),
 (430, np.float64(0.035093120317179816)),
 (431, np.float64(0.03289758474798845)),
 (432, np.float64(0.05763904177042349)),
 (433, np.float64(0.03289758474798845)),
 (434, np.float64(0.0)),
 (435, np.float64(0.03857583749052298)),
 (436, np.float64(0.0)),
 (437, np.float64(0.03194382824999699)),
 (438, np.float64(0.0)),
 (439, np.float64(0.0)),
 (440, np.float64(0.0)),
 (441, np.float64(0.03340765523905304)),
 (442, np.float64(0.05976143046671968)),
 (443, np.float64(0.02988071523335984)),
 (444, np.float64(0.0)),
 (445, np.float64(0.0)),
 (446, np.float64(0.03289758474798845)),
 (447, np.float64(0.02699746235780194)),
 (448, np.float64(0.0)),
 (449, np.float64(0.06788442333021306)),
 (450, np.float64(0.028490144114909487)),
 (451, np.float64(0.028490144114909487)),
 (452, np.float64(0.041239304942116126)),
 (453, np.float64(0.03026137663344012)),
 (454, np.float64(0.06131393394849658)),
 (455, np.float64(0.03706246583305506)),
 (456, np.float64(0.05345224838248487)),
 (457, np.float64(0.05698028822981897)),
 (458, np.float64(0.02503130871608794)),
 (459, np.float64(0.03940552031195503)),
 (460, np.float64(0.0)),
 (461, np.float64(0.11118739749916517)),
 (462, np.float64(0.0)),
 (463, np.float64(0.0)),
 (464, np.float64(0.0)),
 (465, np.float64(0.0)),
 (466, np.float64(0.16116459280507603)),
 (467, np.float64(0.10012523486435176)),
 (468, np.float64(0.03289758474798845)),
 (469, np.float64(0.05345224838248487)),
 (470, np.float64(0.028490144114909487)),
 (471, np.float64(0.05832118435198043)),
 (472, np.float64(0.09197090092274487)),
 (473, np.float64(0.08748177652797065)),
 (474, np.float64(0.0)),
 (475, np.float64(0.08269767696299568)),
 (476, np.float64(0.06900655593423541)),
 (477, np.float64(0.0)),
 (478, np.float64(0.059028133610095526)),
 (479, np.float64(0.021968738758187337)),
 (480, np.float64(0.0563436169819011)),
 (481, np.float64(0.0)),
 (482, np.float64(0.0)),
 (483, np.float64(0.1315903389919538)),
 (484, np.float64(0.036369648372665396)),
 (485, np.float64(0.06788442333021306)),
 (486, np.float64(0.06635609328057132)),
 (487, np.float64(0.10714285714285712)),
 (488, np.float64(0.06378648833438433)),
 (489, np.float64(0.0)),
 (490, np.float64(0.1267731382092775)),
 (491, np.float64(0.05399492471560388)),
 (492, np.float64(0.035093120317179816)),
 (493, np.float64(0.0)),
 (494, np.float64(0.0)),
 (495, np.float64(0.14824986333222023)),
 (496, np.float64(0.0)),
 (497, np.float64(0.0)),
 (498, np.float64(0.08058229640253801)),
 (499, np.float64(0.0)),
 (500, np.float64(0.03026137663344012)),
 (501, np.float64(0.055131784641997125)),
 (502, np.float64(0.055131784641997125)),
 (503, np.float64(0.0657951694959769)),
 (504, np.float64(0.0)),
 (505, np.float64(0.11821656093586509)),
 (506, np.float64(0.0)),
 (507, np.float64(0.13782946160499282)),
 (508, np.float64(0.11952286093343936)),
 (509, np.float64(0.02817180849095055)),
 (510, np.float64(0.06388765649999398)),
 (511, np.float64(0.10527936095153945)),
 (512, np.float64(0.03194382824999699)),
 (513, np.float64(0.09078412990032037)),
 (514, np.float64(0.02988071523335984)),
 (515, np.float64(0.0)),
 (516, np.float64(0.0)),
 (517, np.float64(0.0)),
 (518, np.float64(0.05698028822981897)),
 (519, np.float64(0.0)),
 (520, np.float64(0.0)),
 (521, np.float64(0.0)),
 (522, np.float64(0.0)),
 (523, np.float64(0.051917413165116506)),
 (524, np.float64(0.0)),
 (525, np.float64(0.03026137663344012)),
 (526, np.float64(0.0)),
 (527, np.float64(0.0)),
 (528, np.float64(0.03065696697424829)),

NOW MAKINNG A RECOMMEND SYSTEM

In [182]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances= similarity[movie_index]
    movie_list = sorted(list(enumerate(similarity[movie_index])),reverse=True,key=lambda x: x[1])[1:6]

    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [183]:
recommend('Avatar')

The Book of Life
Guardians of the Galaxy
The Helix... Loaded
The Cold Light of Day
Krull

In [184]:
recommend('Batman Begins')

The Dark Knight Rises
The Prestige
The Dark Knight
Amidst the Devil's Wings
Operation Chromite

In [185]:
new_df[new_df['title']=="Batman Begins"].index[0]

np.int64(119)

In [186]:
sorted(list(enumerate(similarity[0])), reverse = True, key = lambda x:x[1]) [1:6]

[(942, np.float64(0.2874944542499729)),
 (94, np.float64(0.2700308624336608)),
 (4405, np.float64(0.2182178902359924)),
 (2246, np.float64(0.21128856368212912)),
 (1440, np.float64(0.20965696734438366))]


NOW IMPORT PICKLE AND MAKE A FILE

In [187]:
import pickle

In [188]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [189]:
new_df

,movie_id,title,tags
0,19995,Avatar,in the 22nd centuri a parapleg marin is dispat...
1,285,Pirates of the Caribbean: At World's End,captain barbossa long believ to be dead ha com...
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,john carter is a war-weari former militari cap...
...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4806,231617,"Signed, Sealed, Delivered",sign seal deliv introduc a dedic quartet of ci...
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...

NOW MAKING SIMILARITY'S PICKLE FORM

In [190]:
pickle.dump(similarity,open('similarity.pkl','wb'))